<div class="partner_name">
	<a href="<%= partner.link %>" target="_blank">
		<br>
		<% if partner.cover.attached? %>
			<%= image_tag partner.cover %>
		<% else %>
			<p class="text-center">尚未上傳圖片</p>
		<% end %>
		<br>
		<img src="/assets/img/partner/資產 14.svg" alt="" style="width: 10%;margin: 0 0 0 90%" >
	</a>
</div>