<div class="pic1 img-bg-cover"></div>
<div class="wrapper about">
  <div class="main_title"><b>About TRANS</b></div>
  <div class="about_content">
    <img src="/img/about/logo.svg" style="width: 200px">
    <br>
    <div class="content_title">
      您對生醫論壇有更大膽的想像嗎？TRANS國際生醫新創論壇呈現出多元並陳的世界觀，提供來自真實世界的論述，也溫柔地包容來自各方的想法。
    </div>
    在白色巨塔之外世界正在發生什麼？我們相信，除了生硬嚴肅的議題，生醫領域眾聲喧嘩，有更多聲音值得被讚頌。
    <br>
    <br>
    TRANS在拉丁文的字根中，代表了Across、Beyond、Through和Change。在TRANS中，我們希望將國際生醫新趨勢帶入臺灣，以「跨區域（Cross Region）」、「生醫（Pharma/ Medicine）」 與「思維（Mindsets）」為核心，分別以 XYZ 三軸向外延伸，立體化整個議程。而每個議題都有清楚的座標，在三個維度的交互作用之下，更符合真實世界的樣貌。涵蓋了併購趨勢、藥廠策略、科技翻轉醫療的巨觀視野，也著眼於慢性病、精神疾病、高齡化、醫療不平等、醫療效率等不同醫療範疇，以及創業家的思維與想望。此外，TRANS也是新創團隊最好的舞台，每個新創團隊都能和投資人、利害關係人面對面的交流，獲得最直接的建議與指引。
    <br>
    <br>
    我們也始終銘記，生醫的終極關懷是「人」。健康影響生活品質、甚至關乎生命，因此TRANS希望打破白色巨塔的囹圄，除了串接起生醫領域工作者的網絡，我們也致力於向外連結社會大眾，一同形塑更宏觀的視野與想像。於是，我們嘗試在生醫論壇中導入藝術和設計的思維，讓民眾因美而接近，形成廣納而包容的TRANS——水的形象於焉誕生。
    <br>
    <br>
    水是萬物的起源，柔軟如細雨、寬廣如汪洋也強大如瀑布。這同時是我們對於自身、對於創業，乃至於對生醫領域的描寫與期待：新想法源源匯入生醫的流域，在新穎技術推動之下，蘊含的是對人的持續關懷與自省。
    <br>
    <br>
    謝謝來參與TRANS 2019的每一個人，我們都在見證時代的發生，共同編織對於人類社會更美好的想像。
  </div>
</div>
<div class="about_data" style="background-image: url('/img/2019/about/four_points.jpg'); background-position: center 58%; background-size: cover;">
  <div class="about_data_info flex-l4-s2-">
    <div class="about_data_content">
      <img src="/img/about/people.svg" alt="">
      <div class="about_data_number"><b>2000</b></div>
      <div class="about_data_text">Young Blood </div>
    </div>
    <div class="about_data_content">
      <img src="/img/about/earth.svg" alt="">
      <div class="about_data_number"><b>36</b></div>
      <div class="about_data_text">International
        <br>Speakers</div>
    </div>
    <div class="about_data_content">
      <img src="/img/about/rocket.svg" alt="">
      <div class="about_data_number"><b>36</b></div>
      <div class="about_data_text">Srartups</div>
    </div>
    <div class="about_data_content">
      <img src="/img/about/chat.svg" alt="">
      <div class="about_data_number"><b>2 Days</b></div>
      <div class="about_data_text">Exhibition
        <br>Activities</div>
    </div>
  </div>
</div>
<div class="wrapper about">
  <div class="about_content_2 flex-l2-s1-">
    <div class="about_contnet_L">
      <img src="/img/about/logo_ho.svg" alt="">
    </div>
    <div class="about_contnet_R">
      <div class="content_title_2">
        關於 H. Spectrum
      </div>
      永齡健康基金會所支持的 H. Spectrum 青年翻轉培訓計畫，是專注在健康、醫療、生技、Digital Health等領域的青年培訓平台及創業社群，透過創業課程、實戰演練、業界導師與發表舞台，避免無謂的創新，增加創業成功的機率。
      <div class="content_title_2" style="text-align: right">
        <a href="http://www.ylhspectrum.com/" target="_blank">See more >></a>
      </div>
    </div>
  </div>
  <div class="about_subtitle">
    <div class="about_subtitle_wrapper text-center">
      <b>2019<br>
      TRANS Feature</b>
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-image" style="background-image: url('/img/2019/about/features/1.jpg');">
    </div>
    <div class="about_contnet3_R card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            Meet Healthcare Founders
          </div>
          <div class="about_contnet3_content">
            Learn from entrepreneurial idols of the industry
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            First-Hand Experience
          </div>
          <div class="about_contnet3_content">
            Interact with aspiring startups
          </div>
        </div>
      </div>
    </div>
    <div class="about_contnet3_R card-image" style="background-image: url('/img/2019/about/features/2.jpg'); background-position: 8% 33%; background-size: 135%;">
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-image" style="background-image: url('/img/2019/about/features/3.jpg')">
      <!-- <img src="/img/about/VC_INVESTOR.jpg" alt=""> -->
    </div>
    <div class="about_contnet3_R card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            VC and Investors
          </div>
          <div class="about_contnet3_content">
            Find your potential investors
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            Booth Alley
          </div>
          <div class="about_contnet3_content">
            Meet healthcare professionals
          </div>
        </div>
      </div>
    </div>
    <div class="about_contnet3_R card-image" style="background-image: url('/img/2019/about/features/4.jpg'); background-size: 155%; background-position-y: 36%;">
      <!-- <img src="/img/about/BOOTH_ALLEY.jpg" alt=""> -->
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-image" style="background-image: url('/img/2019/about/features/5.jpg'); background-size: 155%;">
      <!-- <img src="/img/about/PITCH_DEMO.jpg" alt=""> -->
    </div>
    <div class="about_contnet3_R card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            Pitch & Demo Stage
          </div>
          <div class="about_contnet3_content">
            Discover trends and talents
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about_subtitle small_padding_bottom small_padding_top">
    <div class="about_subtitle_wrapper text-center">
      <b>2018<br>
      Aftermovie</b>
    </div>
  </div>
  <div class="video-container small_margin_bottom">
    <iframe src="https://www.youtube.com/embed/KgJbmOoyjbs" frameborder="0" allowfullscreen ></iframe>
  </div>
  <div class="about_subtitle small_padding_bottom small_padding_top">
    <div class="about_subtitle_wrapper text-center">
      <b>2017<br>
      Aftermovie</b>
    </div>
  </div>
  <div class="video-container small_margin_bottom">
    <iframe src="https://www.youtube.com/embed/PbJzah0xJnc" frameborder="0" allowfullscreen ></iframe>
  </div>
  <div class="about_subtitle small_padding_bottom small_padding_top">
    <div class="about_subtitle_wrapper text-center">
      <b>2016<br>
      Aftermovie</b>
    </div>
  </div>
  <div class="video-container" >
    <iframe src="https://www.youtube.com/embed/LF5HgXmRPx8" frameborder="0" allowfullscreen ></iframe>
  </div>
</div>