<div class="pic1 img-bg-cover" style="background-image: url('/assets/img/about/about_banner.jpg'); background-position: center 40%;"></div>
<div class="wrapper about">
  <div class="main_title"><b>About TRANS</b></div>
  <div class="about_content">
    <img src="/assets/img/about/logo.svg" style="width: 200px">
    <br>
    <div class="content_title">
      About TRANS 2018
    </div>
    Stories about different glowing stars have been widely told over the past centuries. To H. Spectrum, each innovative team is a star with their own individual glowing color in the entrepreneurship spectrum.
    <br>
    <br>
    H. Spectrum is a platform that incorporated innovative ideas and creative spirit that assist to connect the new biomedical or healthcare elite stars with expertise from various fields including law, patent, finance, and clinical design.Our ultimate goal is to help these stars to glow brighter with their own unique color.
    <br>
    <br>
    TRANS 2018 is one of the largest innovative entrepreneurship symposiums in biomedical and healthcare field which many stars will gather.
    <br>
    <br>
    Hopefully, new possibilities and opportunities will be created through these interactions.TRANS 2018 will be the brightest galaxy in 2018, thus, we sincerely invite you to join us at this event!
  </div>
</div>
<div class="about_data" style="background-image: url('/assets/img/about/about_banner2.jpg'); background-position: center 45%; background-size: cover;">
  <div class="about_data_info flex-l4-s2-">
    <div class="about_data_content">
      <img src="/assets/img/about/people.svg" alt="">
      <div class="about_data_number"><b>2000</b></div>
      <div class="about_data_text">Young Blood </div>
    </div>
    <div class="about_data_content">
      <img src="/assets/img/about/earth.svg" alt="">
      <div class="about_data_number"><b>25</b></div>
      <div class="about_data_text">International
        <br>Speakers</div>
    </div>
    <div class="about_data_content">
      <img src="/assets/img/about/rocket.svg" alt="">
      <div class="about_data_number"><b>60</b></div>
      <div class="about_data_text">Srartups</div>
    </div>
    <div class="about_data_content">
      <img src="/assets/img/about/chat.svg" alt="">
      <div class="about_data_number"><b>2 Days</b></div>
      <div class="about_data_text">Exhibition
        <br>Activities</div>
    </div>
  </div>
</div>
<div class="wrapper about">
  <div class="about_content_2 flex-l2-s1-">
    <div class="about_contnet_L">
      <img src="/assets/img/about/logo_ho.svg" alt="">
    </div>
    <div class="about_contnet_R">
      <div class="content_title_2">
        About H. Spectrum
      </div>

      Supported by Yonglin Healthcare Founda&shy;tion, H. Spectrum is the leading startup incu&shy;bator in Asia focusing on the healthcare sec&shy;tor. By connecting entrepreneurs with essen&shy;tial resources and support, we help con&shy;struct the biomedical startup community in Asia.
      
      Supported by Yonglin Healthcare Foundation, H. Spectrum is the leading startup incubator in Asia focusing on the healthcare sector. By connecting entrepreneurs with essential resources and support, we help construct the biomedical startup community in Asia.
      <div class="content_title_2" style="text-align: right">
        <a href="http://www.ylhspectrum.com/">See more >></a>
      </div>
    </div>
  </div>
  <div class="about_subtitle">
    <div class="about_subtitle_wrapper text-center">
      <b>2018<br>
      TRANS Feature</b>
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-image">
      <img src="/assets/img/about/L1.jpg" alt="">
    </div>
    <div class="about_contnet3_R card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            Meet Healthcare Founders
          </div>
          <div class="about_contnet3_content">
            Learn from entrepreneurial idols of the industry
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            First-Hand Experience
          </div>
          <div class="about_contnet3_content">
            Interact with aspiring startups
          </div>
        </div>
      </div>
    </div>
    <div class="about_contnet3_R card-image">
      <img src="/assets/img/about/R2.jpg" alt="">
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-image">
      <img src="/assets/img/about/L3.jpg" alt="">
    </div>
    <div class="about_contnet3_R card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            VC and Investors
          </div>
          <div class="about_contnet3_content">
            Find your potential investors
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            Booth Alley
          </div>
          <div class="about_contnet3_content">
            Meet healthcare professionals
          </div>
        </div>
      </div>
    </div>
    <div class="about_contnet3_R card-image">
      <img src="/assets/img/about/R4.jpg" alt="">
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-image">
      <img src="/assets/img/about/L5.jpg" alt="">
    </div>
    <div class="about_contnet3_R card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            Pitch & Demo Stage
          </div>
          <div class="about_contnet3_content">
            Discover trends and talents
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about_subtitle small_padding_bottom small_padding_top">
    <div class="about_subtitle_wrapper text-center">
      <b>2017<br>
      Aftermovie</b>
    </div>
  </div>
  <div class="video-container small_margin_bottom">
    <iframe src="https://www.youtube.com/embed/PbJzah0xJnc" frameborder="0" allowfullscreen ></iframe>
  </div>
  <div class="about_subtitle small_padding_bottom small_padding_top">
    <div class="about_subtitle_wrapper text-center">
      <b>2016<br>
      Aftermovie</b>
    </div>
  </div>
  <div class="video-container" >
    <iframe src="https://www.youtube.com/embed/LF5HgXmRPx8" frameborder="0" allowfullscreen ></iframe>
  </div>
</div>