<div class="pic1 img-bg-cover" style="background-image: url('/assets/img/about/關於我們大圖.png'); background-position: center 48%;"></div>
<div class="wrapper about">
  <div class="main_title"><b>About TRANS</b></div>
  <div class="about_content">
    <img src="/assets/img/about/logo.svg" style="width: 200px">
    <br>
    <div class="content_title">
      關於TRANS 2018
    </div>
    幾千年來，我們都在訴說星星的故事。如果把創業團隊喻為恆星，每一個故事的發展最終雖然是相異的顏色，但在創業的光譜上，卻都各個精彩絕倫。H. Spectrum 承載了創意與創新精神，不斷培育臺灣頂尖的生醫人才，並與專家、投資者們密切交流，給予創業團隊適時的指引和支持，宛如形成一個巨大的星系，讓每顆恆星都能夠自在地運行、發光，綻放出自己最美好的樣子。
    <br>
    <br>
    TRANS 2018 生醫新創論壇，所有閃耀的新星都將匯聚於此，經由深度的交流和彼此碰撞，看見與迸發出更多的可能性。TRANS 2018 是這場星系中最極致的盛宴，誠摯地邀請您來，成為光芒之中耀眼的存在。
  </div>
</div>
<div class="about_data" style="background-image: url('/assets/img/about/pic2.jpg'); background-position: center 58%; background-size: cover;">
  <div class="about_data_info flex-l4-s2-">
    <div class="about_data_content">
      <img src="/assets/img/about/people.svg" alt="">
      <div class="about_data_number"><b>2000</b></div>
      <div class="about_data_text">Young Blood </div>
    </div>
    <div class="about_data_content">
      <img src="/assets/img/about/earth.svg" alt="">
      <div class="about_data_number"><b>25</b></div>
      <div class="about_data_text">International
        <br>Speakers</div>
    </div>
    <div class="about_data_content">
      <img src="/assets/img/about/rocket.svg" alt="">
      <div class="about_data_number"><b>60</b></div>
      <div class="about_data_text">Srartups</div>
    </div>
    <div class="about_data_content">
      <img src="/assets/img/about/chat.svg" alt="">
      <div class="about_data_number"><b>2 Days</b></div>
      <div class="about_data_text">Exhibition
        <br>Activities</div>
    </div>
  </div>
</div>
<div class="wrapper about">
  <div class="about_content_2 flex-l2-s1-">
    <div class="about_contnet_L">
      <img src="/assets/img/about/logo_ho.svg" alt="">
    </div>
    <div class="about_contnet_R">
      <div class="content_title_2">
        關於 H. Spectrum
      </div>
      永齡健康基金會所支持的 H. Spectrum 青年翻轉培訓計畫，是專注在健康、醫療、生技、Digital Health等領域的青年培訓平台及創業社群，透過創業課程、實戰演練、業界導師與發表舞台，避免無謂的創新，增加創業成功的機率。
      <div class="content_title_2" style="text-align: right">
        <a href="http://www.ylhspectrum.com/" target="_blank">See more >></a>
      </div>
    </div>
  </div>
  <div class="about_subtitle">
    <div class="about_subtitle_wrapper text-center">
      <b>2018<br>
      TRANS Feature</b>
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-image" style="background-image: url('/assets/img/about/MEET_HEALTHCARE_FOUNDER.jpg'); background-position-y: 21%;">
      <!-- <img src="/assets/img/about/MEET_HEALTHCARE_FOUNDER.jpg" alt=""> -->
    </div>
    <div class="about_contnet3_R card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            健康領域關鍵人物    
          </div>
          <div class="about_contnet3_content">
            向大師與創業家們學習心態、視野與執行力！
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper two_line">
          <div class="about_contnet3_title">
            第一線互動
          </div>
          <div class="about_contnet3_content">
             除了聽演講外，第一線互動體驗任務活動、工作坊與攤位互動，讓你滿載而歸！

          </div>
        </div>
      </div>
    </div>
    <div class="about_contnet3_R card-image" style="background-image: url('/assets/img/about/FIRST_HAND.jpg')">
      <!-- <img src="/assets/img/about/FIRST_HAND.jpg" alt=""> -->
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-image" style="background-image: url('/assets/img/about/VC_INVESTOR.jpg')">
      <!-- <img src="/assets/img/about/VC_INVESTOR.jpg" alt=""> -->
    </div>
    <div class="about_contnet3_R card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            創業家與投資人媒合
          </div>
          <div class="about_contnet3_content">
            與創投交流，為自己尋找下一位投資者！
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper two_line">
          <div class="about_contnet3_title">
            新創攤位展覽
          </div>
          <div class="about_contnet3_content">
           穿戴式裝置、生理數據雲端平台、健康管理App、醫療大數據等，最新產業動態讓您一次掌握！
          </div>
        </div>
      </div>
    </div>
    <div class="about_contnet3_R card-image" style="background-image: url('/assets/img/about/BOOTH_ALLEY.jpg')">
      <!-- <img src="/assets/img/about/BOOTH_ALLEY.jpg" alt=""> -->
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-image" style="background-image: url('/assets/img/about/PITCH_DEMO.jpg')">
      <!-- <img src="/assets/img/about/PITCH_DEMO.jpg" alt=""> -->
    </div>
    <div class="about_contnet3_R card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            產品簡報競賽
          </div>
          <div class="about_contnet3_content">
            最緊張刺激的產品簡報，一探健康醫療創業家的精彩呈現！
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about_subtitle small_padding_bottom small_padding_top">
    <div class="about_subtitle_wrapper text-center">
      <b>2017<br>
      Aftermovie</b>
    </div>
  </div>
  <div class="video-container small_margin_bottom">
    <iframe src="https://www.youtube.com/embed/PbJzah0xJnc" frameborder="0" allowfullscreen ></iframe>
  </div>
  <div class="about_subtitle small_padding_bottom small_padding_top">
    <div class="about_subtitle_wrapper text-center">
      <b>2016<br>
      Aftermovie</b>
    </div>
  </div>
  <div class="video-container" >
    <iframe src="https://www.youtube.com/embed/LF5HgXmRPx8" frameborder="0" allowfullscreen ></iframe>
  </div>
</div>