<div class="pic1 img-bg-cover" style="background-image: url('/img/about/關於我們大圖.png'); background-position: center 48%;"></div>
<div class="wrapper about">
  <div class="main_title"><b>About TRANS</b></div>
  <div class="about_content">
    <img src="/img/about/logo.svg" style="width: 200px">
    <br>
    <!-- NOTE -->
    <div class="content_title">
      Do you dare to imagine a bolder healthcare conference? TRANS Conference has a wide diversity of startups from the globe. It is a conference that gently embraces the innovative ideas while providing honest insights of the world at the same time. 
    </div>
    Do you ever wonder, beyond the ivory tower, what’s going on in the real world? Apart from the rigid healthcare topics, we firmly believe that the less rigid topics also deserve to be heard and praised as well.
    <br>
    <br>
    In Latin, TRANS represents “across,” “beyond,” “through,” and “change.” Our top goal is to bring new trends into Taiwanese healthcare sector. In this year’s TRANS conference, we organized the agenda with  X, Y and Z axis, which represent "cross region," "healthcare" and "mindsets" respectively. Within this conference, we try to focus on the interaction as well as the effect between the three dimensions. Moreover, we tried to design a unique agenda that realistically depicts the world that we are currently facing. 
    <br>
    <br>
    In TRANS, speakers around the world share their knowledge on the global trend of mergers and acquisitions, specifically in the medical industry and pharma industry. Moreover, the speeches also focus on the evolution of healthcare technologies regarding unsolved problems and clinical needs, such as chronic disease, mental illness, and health inequities. Entrepreneurs are able to share their unique mindsets and perspectives on the stage. The participating startups are also able to network directly with ventures and stakeholders, which they may receive valuable guidance and recommendations.
    <br>
    <br>
    We have not forgotten the ultimate concern of healthcare: human being. Health affects not only the quality of life, but the life itself. Therefore, TRANS not only hope to break the boundaries between hospitals, venture capitalists, and research centers, but more importantly, to establish a connection between the healthcare sector with the public in which we hope to reduce inequalities. In addition, by incorporating art and design thinking into TRANS Conference, we hope to make this forum an unique and professional experience.
    <br>
    <br>
    What best defines TRANS Conference 2019? Water.
    <br>
    <br>
    While water is the basic makeup of all living organisms, yet, it can be small as a drizzle, vast as the ocean, and powerful as the waterfall. This applies not only to our lives but also to entrepreneurial journeys in the healthcare field. A small creative idea can be the foundation to many technological advancements that may create large and wide impacts. This is because we believe that the core of healthcare is the continuous care and self-reflection of all human beings that lead to innovative ideas and creations.
    <br>
    <br>
    Thank you for attending TRANS Conference 2019. We sincerely appreciate each and every one of you. We are witnessing the birth of a new generation, and together, we are weaving a better vision of the human society. 
  </div>
</div>
<div class="about_data" style="background-image: url('/img/about/pic2.jpg'); background-position: center 58%; background-size: cover;">
  <div class="about_data_info flex-l4-s2-">
    <div class="about_data_content">
      <img src="/img/about/people.svg" alt="">
      <div class="about_data_number"><b>2000</b></div>
      <div class="about_data_text">Young Blood </div>
    </div>
    <div class="about_data_content">
      <img src="/img/about/earth.svg" alt="">
      <div class="about_data_number"><b>36</b></div>
      <div class="about_data_text">International
        <br>Speakers</div>
    </div>
    <div class="about_data_content">
      <img src="/img/about/rocket.svg" alt="">
      <div class="about_data_number"><b>40</b></div>
      <div class="about_data_text">Srartups</div>
    </div>
    <div class="about_data_content">
      <img src="/img/about/chat.svg" alt="">
      <div class="about_data_number"><b>2 Days</b></div>
      <div class="about_data_text">Exhibition
        <br>Activities</div>
    </div>
  </div>
</div>
<div class="wrapper about">
  <div class="about_content_2 flex-l2-s1-">
    <div class="about_contnet_L">
      <img src="/img/about/logo_ho.svg" alt="">
    </div>
    <div class="about_contnet_R">
      <div class="content_title_2">
        About H. Spectrum
      </div>

      Supported by Yonglin Healthcare Founda&shy;tion, H. Spectrum is the leading startup incu&shy;bator in Asia focusing on the healthcare sec&shy;tor. By connecting entrepreneurs with essen&shy;tial resources and support, we help con&shy;struct the biomedical startup community in Asia.
      
      Supported by Yonglin Healthcare Foundation, H. Spectrum is the leading startup incubator in Asia focusing on the healthcare sector. By connecting entrepreneurs with essential resources and support, we help construct the biomedical startup community in Asia.
      <div class="content_title_2" style="text-align: right">
        <a href="http://www.ylhspectrum.com/" target="_blank">See more >></a>
      </div>
    </div>
  </div>
  <div class="about_subtitle">
    <div class="about_subtitle_wrapper text-center">
      <b>2019<br>
      TRANS Feature</b>
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-image" style="background-image: url('/img/about/MEET_HEALTHCARE_FOUNDER.jpg'); background-position-y: 21%;">
    </div>
    <div class="about_contnet3_R card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            Meet Healthcare Founders
          </div>
          <div class="about_contnet3_content">
            Learn from entrepreneurial idols of the industry
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            First-Hand Experience
          </div>
          <div class="about_contnet3_content">
            Interact with aspiring startups
          </div>
        </div>
      </div>
    </div>
    <div class="about_contnet3_R card-image" style="background-image: url('/img/about/FIRST_HAND.jpg')">
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-image" style="background-image: url('/img/about/VC_INVESTOR.jpg')">
      <!-- <img src="/img/about/VC_INVESTOR.jpg" alt=""> -->
    </div>
    <div class="about_contnet3_R card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            VC and Investors
          </div>
          <div class="about_contnet3_content">
            Find your potential investors
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            Booth Alley
          </div>
          <div class="about_contnet3_content">
            Meet healthcare professionals
          </div>
        </div>
      </div>
    </div>
    <div class="about_contnet3_R card-image" style="background-image: url('/img/about/BOOTH_ALLEY.jpg')">
      <!-- <img src="/img/about/BOOTH_ALLEY.jpg" alt=""> -->
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-image" style="background-image: url('/img/about/PITCH_DEMO.jpg')">
      <!-- <img src="/img/about/PITCH_DEMO.jpg" alt=""> -->
    </div>
    <div class="about_contnet3_R card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            Pitch & Demo Stage
          </div>
          <div class="about_contnet3_content">
            Discover trends and talents
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about_subtitle small_padding_bottom small_padding_top">
    <div class="about_subtitle_wrapper text-center">
      <b>2017<br>
      Aftermovie</b>
    </div>
  </div>
  <div class="video-container small_margin_bottom">
    <iframe src="https://www.youtube.com/embed/PbJzah0xJnc" frameborder="0" allowfullscreen ></iframe>
  </div>
  <div class="about_subtitle small_padding_bottom small_padding_top">
    <div class="about_subtitle_wrapper text-center">
      <b>2016<br>
      Aftermovie</b>
    </div>
  </div>
  <div class="video-container" >
    <iframe src="https://www.youtube.com/embed/LF5HgXmRPx8" frameborder="0" allowfullscreen ></iframe>
  </div>
</div>