<div class="pic1 img-bg-cover" style="background-image: url('/assets/img/about/關於我們大圖.png'); background-position: center 52%;"></div>
<div class="wrapper about">
  <div class="main_title"><b>About TRANS</b></div>
  <div class="about_content">
    <img src="/assets/img/about/logo.svg" style="width: 200px">
    <br>
    <div class="content_title">
      About TRANS
    </div>
    In the 15th century, Europeans broadened human kinds’ horizons by The Age of Discovery. Today, in the 21st century, we Asians are opening up a new era by exploring the industry of biomedical entrepreneurship, leading countless innovators to challenge the unknown. With the multi industrial, interdisciplinary point of view, we are marching towards the new land of AI, precision medicine, and much more.
    <br>
    <br> As the leader of this age, our mission is to insert the spirit of adventure into the DNA of Taiwanese entrepreneurs, enabling them to reform the biomedical innovation trend and development in Asia. We hope to show people what we are capable of, and once again, amaze the world of this incredible Formosa.
    <br>
    <br> Through TRANS Conference, H. Spectrum creates a platform where entrepreneurs, experts, investors, and students can exchange their ideas and learn from one another. What are you waiting for? Sign up for TRANS 2017 now, and feel the pulse of the healthcare trends, be stunned by the exhibition, and gain the chance to bump into successful entrepreneurs and VCs, along with thousands of innovators who are as passionate and motivated as you are.
    <br>
    <br>
  </div>
</div>
<div class="about_data" style="background-image: url('/assets/img/about/pic2.jpg'); background-position: center 45%; background-size: cover;">
  <div class="about_data_info flex-l4-s2-">
    <div class="about_data_content">
      <img src="/assets/img/about/people.svg" alt="">
      <div class="about_data_number"><b>1500</b></div>
      <div class="about_data_text">Young Blood </div>
    </div>
    <div class="about_data_content">
      <img src="/assets/img/about/earth.svg" alt="">
      <div class="about_data_number"><b>25</b></div>
      <div class="about_data_text">International
        <br>Speakers</div>
    </div>
    <div class="about_data_content">
      <img src="/assets/img/about/rocket.svg" alt="">
      <div class="about_data_number"><b>60</b></div>
      <div class="about_data_text">Srartups</div>
    </div>
    <div class="about_data_content">
      <img src="/assets/img/about/chat.svg" alt="">
      <div class="about_data_number"><b>2 Days</b></div>
      <div class="about_data_text">Exhibition
        <br>Activities</div>
    </div>
  </div>
</div>
<div class="wrapper about">
  <div class="about_content_2 flex-l2-s1-">
    <div class="about_contnet_L">
      <img src="/assets/img/about/logo_ho.svg" alt="">
    </div>
    <div class="about_contnet_R">
      <div class="content_title_2">
        About HS
      </div>
      Supported by Yongling Healthcare Foundation, H. Spectrum is the leading startup incubator in Asia focusing on the healthcare sector. By connecting entrepreneurs with essential resources and support, we help construct the biomedical startup community in Asia that it is today.
      <div class="content_title_2" style="text-align: right">
        <a href="http://www.ylhspectrum.com/">See more >></a>
      </div>
    </div>
  </div>
  <div class="about_subtitle">
    <div class="about_subtitle_wrapper text-center">
      <b>2018<br>
      TRANS Feature</b>
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-image">
      <img src="/assets/img/about/L1.jpg" alt="">
    </div>
    <div class="about_contnet3_R card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            Meet Healthcare Founders
          </div>
          <div class="about_contnet3_content">
            Learn from entrepreneurial idols of the industry
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            First-Hand Experience
          </div>
          <div class="about_contnet3_content">
            Interact with aspiring startups
          </div>
        </div>
      </div>
    </div>
    <div class="about_contnet3_R card-image">
      <img src="/assets/img/about/R2.jpg" alt="">
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-image">
      <img src="/assets/img/about/L3.jpg" alt="">
    </div>
    <div class="about_contnet3_R card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            VC and Investors
          </div>
          <div class="about_contnet3_content">
            Find your potential investors
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            Booth Alley
          </div>
          <div class="about_contnet3_content">
            Meet healthcare professionals
          </div>
        </div>
      </div>
    </div>
    <div class="about_contnet3_R card-image">
      <img src="/assets/img/about/R4.jpg" alt="">
    </div>
  </div>
  <div class="about_content_3 flex-l2-m1-s1- card">
    <div class="about_contnet3_L card-image">
      <img src="/assets/img/about/L5.jpg" alt="">
    </div>
    <div class="about_contnet3_R card-text">
      <div class="about_contnet3_text">
        <div class="about_contnet3_text_wrapper">
          <div class="about_contnet3_title">
            Pitch & Demo Stage
          </div>
          <div class="about_contnet3_content">
            Discover trends and talents
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about_subtitle small_padding_bottom small_padding_top">
    <div class="about_subtitle_wrapper text-center">
      <b>2017<br>
      Aftermovie</b>
    </div>
  </div>
  <div class="video-container small_margin_bottom">
    <iframe src="https://www.youtube.com/embed/LF5HgXmRPx8" frameborder="0" allowfullscreen ></iframe>
  </div>
  <div class="about_subtitle small_padding_bottom small_padding_top">
    <div class="about_subtitle_wrapper text-center">
      <b>2016<br>
      Aftermovie</b>
    </div>
  </div>
  <div class="video-container" >
    <iframe src="https://www.youtube.com/embed/LF5HgXmRPx8" frameborder="0" allowfullscreen ></iframe>
  </div>
</div>