<div class="pic1 img-bg-cover" style="background-image: url('/img/agenda/活動議程頁-02.png'); background-position: center 71%;"></div>
<div class="wrapper agenda">
  <div class="main_title"><b>Agenda</b></div>
  <div class="agenda-link">
    <a class="box" href="#mainStageAgenda" style="margin-top: 20px;">
      <div class="text">
         Main Stage Agenda
      </div>
      <div class="arrow">
        <div class="triangle-down"></div>
      </div>
    </a>
    <a class="box" href="#creativeStageAgenda" style="margin: 7px auto;">
      <div class="text">
       Creative Stage Agenda
      </div>
      <div class="arrow">
        <div class="triangle-down"></div>
      </div>
    </a>
    <a class="box" href="#pitchStageAgenda" style="margin-bottom: 20px;">
      <div class="text">
       Pitch Stage Agenda
      </div>
      <div class="arrow">
        <div class="triangle-down"></div>
      </div>
    </a>
  </div>
  <div id="mainStageAgenda" class="agenda-wrap">
    <div class="title">
      <h2>Main Stage Agenda</h2>
    </div>
    <div class="agenda-tab">
      <div class="agenda-tab-circles-dates">
        <div class="agenda-tab-circles">
          <div id="circle" @click="changeDay('mainStageDay', 1)" class="tab-btn-circle" :class="{ active: mainStageDay === 1 }"></div>
          <div id="circle" @click="changeDay('mainStageDay', 2)" class="tab-btn-circle" :class="{ active: mainStageDay === 2 }"></div>
        </div>
        <div class="agenda-tab-dates">
          <div @click="changeDay('mainStageDay', 1)" class="tab-btn" :class="{ active: mainStageDay === 1 }">Day 1</div>
          <div @click="changeDay('mainStageDay', 2)" class="tab-btn" :class="{ active: mainStageDay === 2 }">Day 2</div>
        </div>
      </div>
      <div class="time">
        <div v-if="mainStageDay === 1" class="daytitle">Day 1</div>
        <div v-if="mainStageDay === 2" class="daytitle">Day 2</div>
        <!-- <b>27 TH August</b> -->
      </div>
    </div>
    <div v-if="mainStageDay === 1" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">時間</div>
        <div class="tr-title">主題</div>
        <div class="tr-content"></div>
        <div class="tr-speaker">內容</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:30-10:00</div>
        <div class="tr-title">
          開幕<br>生醫宇宙大爆炸
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:00-10:50</div>
        <div class="tr-title">
          專題演講<br><br>來自太空總署的叮嚀
        </div>
        <div class="tr-content">
          新世代生醫趨勢與走向
        </div>
        <div class="tr-speaker">
          默克集團如何組織新創活動並定義生醫趨勢走向<br>講者：Michael Gamber<br><br>
          富士康翻轉健康產業：互聯網上的醫療<br>講者：Charlie Alvarez 
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:50-11:30</div>
        <div class="tr-title">
          專題演講<br><br>與太空艦長一起離開地球表面
        </div>
        <div class="tr-content">
          生醫新創的演變：捉住下一隻潛在的獨角獸
        </div>
        <div class="tr-speaker">
          FDA眼中的數位醫療發展<br>講者：Kazem Kazempour<br><br>
          敲響美國醫療巨鐘：富士康與 Advocate Aurora<br>講者：Bijoy Khandheria
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:40-12:40</div>
        <div class="tr-title">
          座談會<br><br>生醫宇宙的超級新星
        </div>
        <div class="tr-content">
          富比世30 under 30的生醫青年創業家
        </div>
        <div class="tr-speaker">
          手術房中的AI新平台<br>講者：Siddarth Satish<br><br>
          我的生醫旅程：從紐約大學到富比世30歲菁英榜<br>講者：Melissa Yu<br><br>
          一線之隔：如何將醫院體系從買家化為合作夥伴<br>講者： Pelu Tran
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:40-14:00</div>
        <div class="tr-title">
          休息時間
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker"></div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:25</div>
        <div class="tr-title">
          座談會<br><br>探索未知的生醫星系：基因治療
        </div>
        <div class="tr-content">
          拆解基因治療的奧秘
        </div>
        <div class="tr-speaker">
          基因治療最前線：CRISPR在基因工程的最新發展<br>講者：Patrick D. Hsu
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:25-14:50</div>
        <div class="tr-title">
          專題演講<br><br>穿梭行星的領航員
        </div>
        <div class="tr-content">
          醫療人工智慧的機會與挑戰
        </div>
        <div class="tr-speaker">
          創投、新創、醫院眼中的醫療人工智慧<br>講者： Pelu Tran
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:00-15:50</div>
        <div class="tr-title">
          座談會<br><br>超越事件視界
        </div>
        <div class="tr-content">
          當區塊鏈碰上生醫宇宙，是黑洞還是新星？
        </div>
        <div class="tr-speaker">
          SimplyVital Health如何透過符合HIPAA標準的區塊鏈技術創造開創性解決方案<br>講者：Katherine Kuzmeskas<br><br>
          醫藥業的科技新曙光<br>講者：Disa Lee Choun
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:00-16:25</div>
        <div class="tr-title">
          專題演講<br><br>打造太空中繼站
        </div>
        <div class="tr-content">
          升級太空船，重整再出發
        </div>
        <div class="tr-speaker">
          如何成為生醫加速器的佼佼者<br>講者：Hong Wa Poon
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:25-16:55</div>
        <div class="tr-title">
          座談會<br><br>太空會晤
        </div>
        <div class="tr-content">
          點燃生醫新創之火
        </div>
        <div class="tr-speaker">
          生醫宇宙中的風險投資者<br>講者：Christine Guo, Dan Gebremedhin
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
    <div v-if="mainStageDay === 2" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">時間</div>
        <div class="tr-title">主題</div>
        <div class="tr-content"></div>
        <div class="tr-speaker">內容</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:30-10:00</div>
        <div class="tr-title">
          座談會<br><br>探索未知的生醫星系：資料互通性
        </div>
        <div class="tr-content">
          如何實現真正資料互通性
        </div>
        <div class="tr-speaker">探索區塊鏈在醫療保健領域的應用：數據安全與互通性<br>講者：陳瑞杰、羅友聲、李亞鑫</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:00-10:30</div>
        <div class="tr-title">
          座談會<br><br>探索未知的古老星球：銀髮產業
        </div>
        <div class="tr-content">
          高齡將不再只是老化
        </div>
        <div class="tr-speaker">
          亞洲進入超高齡化社會：長照產業的契機與挑戰<br>講者：王詩婷、蔡昕伶、劉庭軒
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:40-12:40</div>
        <div class="tr-title">
          Pitch Competition
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:40-14:00</div>
        <div class="tr-title">
          休息時間
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:40</div>
        <div class="tr-title">
          專題演講<br><br>跨越生醫宇宙的跨國新創
        </div>
        <div class="tr-content">
          打造成功新創公司的關鍵因素
        </div>
        <div class="tr-speaker">
          如何成為吸引創投的阿姆斯壯<br>講者：Dan Gebremedhin<br><br>
          生醫新星：崛起中的醫療用機器人<br>講者：Colin Tan
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:50-15:50</div>
        <div class="tr-title">
          座談會<br><br>探索未知的生醫星系：人工智慧
        </div>
        <div class="tr-content">
          為成就更好的醫療而生：人工智慧
        </div>
        <div class="tr-speaker">
          自然語言處理綻放無限的價值<br>講者： Leon Bergen<br><br>
          用深度學習解密人類基因<br>講者： Andrew Liu<br><br>
          以GPU建造醫療健康產業的最佳深度學習模型<br>講者： Kenneth Ko
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:00-16:45</div>
        <div class="tr-title">
          專題演講<br><br>探索未知的生醫星系：數位療法
        </div>
        <div class="tr-content">
          數位療法的時代準備起飛，你準備好了嗎？
        </div>
        <div class="tr-speaker">
          IDEO在數位療法中設計以人為本的解決方案<br>講者： Pablo Pantaleoni<br><br>
          發動醫療革命：Doximity的醫生社群網<br>講者： Yi-Min Chun<br><br>
          從心理學改善藥物順從性<br>講者： 吳沛燊
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:55-17:35</div>
        <div class="tr-title">
          專題演講<br><br>飛越地球，看見亞洲生醫綻放星光
        </div>
        <div class="tr-content">
          點點星光：匯聚亞洲生醫企業家
        </div>
        <div class="tr-speaker">
          IQGEN的願景：透過提供所有人都可負擔的健保，達到醫療自動分級<br>Speaker: Aman Iqbal<br><br>
          2020年亞洲最重要的健康產業議題：生醫市場的未來觀察<br>Speaker: Brian Williams
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">17:35-17:50</div>
        <div class="tr-title">
          閉幕－綻放出自己最美的樣子
        </div>
        <div class="tr-content"></div>
        <div class="tr-speaker"></div>
      </div>
    </div>
  </div>
  <div id="creativeStageAgenda" class="agenda-wrap">
    <div class="title">
      <h2>Creative Stage Agenda</h2>
    </div>
    <div class="agenda-tab">
      <div class="agenda-tab-circles-dates">
        <div class="agenda-tab-circles">
          <div id="circle" @click="changeDay('creativeStageDay', 1)" class="tab-btn-circle" :class="{ active: creativeStageDay === 1 }"></div>
          <div id="circle" @click="changeDay('creativeStageDay', 2)" class="tab-btn-circle" :class="{ active: creativeStageDay === 2 }"></div>
        </div>
        <div class="agenda-tab-dates">
          <div @click="changeDay('creativeStageDay', 1)" class="tab-btn" :class="{ active: creativeStageDay === 1 }">Day 1</div>
          <div @click="changeDay('creativeStageDay', 2)" class="tab-btn" :class="{ active: creativeStageDay === 2 }">Day 2</div>
        </div>
      </div>
      <div class="time">
        <div v-if="creativeStageDay === 1" class="daytitle">Day 1</div>
        <div v-if="creativeStageDay === 2" class="daytitle">Day 2</div>
      </div>
    </div>
    <div v-if="creativeStageDay === 1" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">時間</div>
        <div class="tr-title">主題</div>
        <div class="tr-content"></div>
        <div class="tr-speaker">講者</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:30-10:40</div>
        <div class="tr-title">
          開幕
        </div>
        <div class="tr-content"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:40-12:40</div>
        <div class="tr-title">
          超強生醫生死鬥
        </div>
        <div class="tr-content">創業團隊競賽</div>
        <div class="tr-speaker">參展團隊Pitch</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:40-14:00</div>
        <div class="tr-title">
          休息時間
        </div>
        <div class="tr-content"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:40</div>
        <div class="tr-title">
          生醫矛盾大對決<br><br>親愛的，你後悔了嗎？
        </div>
        <div class="tr-content">Round 1<br>“我不當醫生可以嗎？”</div>
        <div class="tr-speaker">黃書田<br>林佩蓁</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:50-15:10</div>
        <div class="tr-title">
          專題演講<br><br>不一樣的軌道：醫學生的可能性
        </div>
        <div class="tr-content">“先生，你在忙什麼？”</div>
        <div class="tr-speaker">褚士銘</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:20 - 16:00</div>
        <div class="tr-title">
          生醫矛盾大對決<br><br>親愛的，你後悔了嗎？
        </div>
        <div class="tr-content">Round 2<br>“生科領域的路好走嗎？”</div>
        <div class="tr-speaker">辛永誠<br>胡翔崴</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:20 - 17:00</div>
        <div class="tr-title">
          星際用藥知識問答
        </div>
        <div class="tr-content"></div>
        <div class="tr-speaker"></div>
      </div>
    </div>
    <div v-if="creativeStageDay === 2" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">時間</div>
        <div class="tr-title">主題</div>
        <div class="tr-content"></div>
        <div class="tr-speaker"></div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:50-10:00</div>
        <div class="tr-title">
          開幕
        </div>
        <div class="tr-content"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:00-13:00</div>
        <div class="tr-title">
          工作坊<br>來自太空的呼叫
        </div>
        <div class="tr-content">
          “未來，你還好嗎？”
        </div>
        <!-- <div class="tr-speaker"></div> -->
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">13:00-14:00</div>
        <div class="tr-title">
          休息時間
        </div>
        <div class="tr-content"></div>
        <div class="tr-speaker"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:40</div>
        <div class="tr-title">
          生醫矛盾大對決<br><br>親愛的，你後悔了嗎？
        </div>
        <div class="tr-content">Round 3<br>“中醫的智慧你懂嗎？”</div>
        <div class="tr-speaker">黃明源<br>謝岳峰</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:50-15:20</div>
        <div class="tr-title">
          專題演講<br><br>當阿姆斯壯遇上吳剛
        </div>
        <div class="tr-content">“刮痧，科學嗎？”</div>
        <div class="tr-speaker">黃卉君</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:40-16:20</div>
        <div class="tr-title">
          星際爭霸戰
        </div>
        <div class="tr-content">生醫新創快問快答2.0</div>
        <!-- <div class="tr-speaker"></div> -->
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:30-17:00</div>
        <div class="tr-title">
          專題演講<br><br>美少女戰士的逆襲
        </div>
        <div class="tr-content">“病友有話說”</div>
        <div class="tr-speaker">謝采倪</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
  </div>
  <div id="pitchStageAgenda" class="agenda-wrap">
    <div class="title">
      <h2>Pitch Stage Agenda</h2>
    </div>
    <div class="agenda-tab">
      <div class="agenda-tab-circles-dates">
        <div class="agenda-tab-circles">
          <div id="circle" @click="changeDay('pitchStageDay', 1)" class="tab-btn-circle" :class="{ active: pitchStageDay === 1 }"></div>
          <!-- <div id="circle" @click="changeDay('pitchStageDay', 2)" class="tab-btn-circle" :class="{ active: pitchStageDay === 2 }"></div> -->
        </div>
        <div class="agenda-tab-dates">
          <div @click="changeDay('pitchStageDay', 1)" class="tab-btn" :class="{ active: pitchStageDay === 1 }">Day 1</div>
          <!-- <div @click="changeDay('pitchStageDay', 2)" class="tab-btn" :class="{ active: pitchStageDay === 2 }">Day 2</div> -->
        </div>
      </div>
      <div class="time">
        <div v-if="pitchStageDay === 1" class="daytitle">Day 1</div>
        <!-- <div v-if="pitchStageDay === 2" class="daytitle">Day 2</div> -->
      </div>
    </div>
    <div v-if="pitchStageDay === 1" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">時間</div>
        <div class="tr-title">主題</div>
        <div class="tr-content"></div>
        <div class="tr-speaker">講者</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:30-10:40</div>
        <div class="tr-title">
          開幕
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:40-12:40</div>
        <div class="tr-title">
          超強生醫生死鬥
        </div>
        <div class="tr-content">
          創業團隊競賽
        </div>
        <div class="tr-speaker">
          參展團隊Pitch
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:40-12:55</div>
        <div class="tr-title">
          休息時間
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker"></div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:55-17:00</div>
        <div class="tr-title">
          超強生醫生死鬥
        </div>
        <div class="tr-content">
          創業團隊競賽
        </div>
        <div class="tr-speaker">
          參展團隊Pitch
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
  </div>
</div>