<div class="pic1 img-bg-cover" style="background-image: url('/assets/img/agenda/活動議程頁-02.png'); background-position: center 71%;"></div>
<div class="wrapper agenda">
  <div class="main_title"><b>Agenda</b></div>
  <div class="agenda-link">
    <a class="box" href="#mainStageAgenda" style="margin-top: 20px;">
      <div class="text">
         Main Stage Agenda
      </div>
      <div class="arrow">
        <div id="triangle-down"></div>
      </div>
    </a>
    <a class="box" href="#creativeStageAgenda" style="margin: 7px auto;">
      <div class="text">
       Creative Stage Agenda
      </div>
      <div class="arrow">
        <div id="triangle-down"></div>
      </div>
    </a>
    <a class="box" href="#pitchStageAgenda" style="margin-bottom: 20px;">
      <div class="text">
       Pitch Stage Agenda
      </div>
      <div class="arrow">
        <div id="triangle-down"></div>
      </div>
    </a>
  </div>
  <div id="mainStageAgenda" class="agenda-wrap">
    <div class="title">
      <h2>Main Stage Agenda</h2>
    </div>
    <div class="agenda-tab">
      <div class="agenda-tab-circles-dates">
        <div class="agenda-tab-circles">
          <div id="circle" @click="changeDay('mainStageDay', 1)" class="tab-btn-circle" :class="{ active: mainStageDay === 1 }"></div>
          <div id="circle" @click="changeDay('mainStageDay', 2)" class="tab-btn-circle" :class="{ active: mainStageDay === 2 }"></div>
        </div>
        <div class="agenda-tab-dates">
          <div @click="changeDay('mainStageDay', 1)" class="tab-btn" :class="{ active: mainStageDay === 1 }">Day 1</div>
          <div @click="changeDay('mainStageDay', 2)" class="tab-btn" :class="{ active: mainStageDay === 2 }">Day 2</div>
        </div>
      </div>
      <div class="time">
        <div v-if="mainStageDay === 1" class="daytitle">Day 1</div>
        <div v-if="mainStageDay === 2" class="daytitle">Day 2</div>
        <!-- <b>27 TH August</b> -->
      </div>
    </div>
    <div v-if="mainStageDay === 1" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">時間</div>
        <div class="tr-title">主題</div>
        <div class="tr-content">內容</div>
        <div class="tr-speaker">講者</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:30-10:00</div>
        <div class="tr-title">
         開幕
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:00-11:00</div>
        <div class="tr-title">
          專題演講<br><br>
          航海大師經驗談
        </div>
        <div class="tr-content">
          頂尖生醫創投視野：奇異創投與全球生醫新創圈發展
          <br>
          <br> 生醫航道策略：KPCB China的投資佈局
        </div>
        <div class="tr-speaker">
          Alex de Winter
          <br>
          <br> James Huang
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:10-12:00</div>
        <div class="tr-title">
          座談會
          <br><br> 看見生醫新大陸
        </div>
        <div class="tr-content">
          腎臟衰竭新解方：Qidni Labs Inc. 基因檢測如何開創生醫新事業
          <br>
          <br> 創業實驗室：全新生醫新創加速模式
        </div>
        <div class="tr-speaker">
           Morteza Ahmadi
          <br>
          <br> Chris Edell
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:00-12:20</div>
        <div class="tr-title">
          專題演講<br>
          <br> 引領產業新燈塔
        </div>
        <div class="tr-content">
          銀髮產業的發想與落地
        </div>
        <div class="tr-speaker">
          陳亮恭
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:20-14:00</div>
        <div class="tr-title">
          休息時間
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-15:10</div>
        <div class="tr-title">
          座談會<br>
          <br> 冒險伊始：亞洲青創領航人的故事  
        </div>
        <div class="tr-content">
           打造AI血液檢測儀的青年創業家
          <br>
          <br>維艱之路：從學生到創業家
          <br>
          <br>醫病關係的革新者
        </div> 
        <div class="tr-speaker">
          Deepika Bodapati
          <br>
          <br> Katherine Jin
          <br>
          <br> Daniel Penn
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:20-15:45</div>
        <div class="tr-title">
          爐邊閒談
        </div>
        <div class="tr-content">
          VentureCraft 投資集團創辦人的經驗交流
        </div>
        <div class="tr-speaker">
          Isaac Ho
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:50-17:50 </div>
        <div class="tr-title">
         Pitch Arena
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">18:00-18:40</div>
        <div class="tr-title">
          專題演講<br>
          <br> 亞洲生醫新航道
        </div>
        <div class="tr-content">
          生醫新趨勢：日本生醫健康產業的觀察與剖析
        </div>
        <div class="tr-speaker">
          Keiichi Ohwari<br>
          Yutaka Kitahara<br>
          Taiki Ishikura
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
    <div v-if="mainStageDay === 2" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">時間</div>
        <div class="tr-title">主題</div>
        <div class="tr-content">內容</div>
        <div class="tr-speaker">講者</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:00-10:00</div>
        <div class="tr-title">
          專題演講<br>
          <br> 地平線上的新島嶼
        </div>
        <div class="tr-content">
          生醫革命：數據的力量
          <br>
          <br>2. 乘著浪潮：生醫新創啟航
        </div>
        <div class="tr-speaker">
          Yang Yang
          <br>
          <br> Sidney Yee
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:10-11:00</div>
        <div class="tr-title">
          座談會
          <br><br> 生醫跳島創新：生醫 x 數位醫療     
        </div>
        <div class="tr-content">
          整合數位醫療與穿戴式裝置：偏鄉醫療的實際應用
          <br>
          <br>電子化的優勢：數位醫療的新篇章
        </div>
        <div class="tr-speaker">
          Ruchit Nagar
          <br><br>
          Ching-Tse Tseng
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:10-12:00</div>
        <div class="tr-title">
          專題演講<br>
          <br> 生醫跳島創新：生醫 x 精準醫療
        </div>
        <div class="tr-content">
          精準醫療之演化與展望
          <br>
          <br>當癌症篩檢遇上精準醫療：為何miRNA是關鍵
        </div>
        <div class="tr-speaker">
          Jane SC Tsai<br>
          <br> Lihan Zhou
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:00-12:20</div>
        <div class="tr-title">
          專題演講<br>
          <br> 生醫跳島創新：生醫 x 雲端運算
        </div>
        <div class="tr-content">
          雲端運算與健康醫療的跨界合作
        </div>
        <div class="tr-speaker">
          JZane Moi
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:20-14:00</div>
        <div class="tr-title">
          休息時間
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-15:10</div>
        <div class="tr-title">
          專題演講<br>
          <br> 生醫跳島創新：生醫 x 人工智慧
        </div>
        <div class="tr-content">
          全球最大生醫IT公司發動生醫市場革命 
          <br>
          <br>當人工智慧遇上生物科技：血液檢測新解方 
        </div>
        <div class="tr-speaker">
          Dr. Steven Mo, PhD
          <br>
          <br> Tanay Tandon
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:50-16:00</div>
        <div class="tr-title">
          座談會<br>
          <br> 尋找下一個生醫哥倫布：創投與加速器談話        
        </div>
        <div class="tr-content">
          韓國創投視角：KTB Network投資策略
          <br>
          <br>新加坡創投視角：Venturecraft投資策略
          <br>
          <br>美國加速器視角：StartX模式
        </div>
        <div class="tr-speaker">
          Chun Jiwoong
          <br>
          <br> Ong Jeong Shing
          <br>
          <br> Andrew Lee
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:10-17:00</div>
        <div class="tr-title">
          座談會<br>
          <br> 打造青創羅盤：先驅者的行前叮嚀
        </div>
        <div class="tr-content">
          學者x新創x大企業：我的生醫職涯之路 
          <br>
          <br> 建立跨國新創的初衷：挑戰與機會  
        </div>
        <div class="tr-speaker">
          Dr. Steven Mo, PhD

          <br> <br>
          <br> Allison Baum
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">17:20-18:10</div>
        <div class="tr-title">
          專題演講<br>
          <br> 再次啟程
        </div>
        <div class="tr-content">
          尋找下一個生醫獨角獸：Redmile集團
          <br>
          <br> 生醫領航開拓者：Sutter Health集團
        </div>
        <div class="tr-speaker">
          Ming Fang
          <br><br>
          <br> Albert Chan
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">18:10-18:25</div>
        <div class="tr-title">
          閉幕
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
    </div>
  </div>
  <div id="creativeStageAgenda" class="agenda-wrap">
    <div class="title">
      <h2>Creative Stage Agenda</h2>
    </div>
    <div class="agenda-tab">
      <div class="agenda-tab-circles-dates">
        <div class="agenda-tab-circles">
          <div id="circle" @click="changeDay('creativeStageDay', 1)" class="tab-btn-circle" :class="{ active: creativeStageDay === 1 }"></div>
          <div id="circle" @click="changeDay('creativeStageDay', 2)" class="tab-btn-circle" :class="{ active: creativeStageDay === 2 }"></div>
        </div>
        <div class="agenda-tab-dates">
          <div @click="changeDay('creativeStageDay', 1)" class="tab-btn" :class="{ active: creativeStageDay === 1 }">Day 1</div>
          <div @click="changeDay('creativeStageDay', 2)" class="tab-btn" :class="{ active: creativeStageDay === 2 }">Day 2</div>
        </div>
      </div>
      <div class="time">
        <div v-if="creativeStageDay === 1" class="daytitle">Day 1</div>
        <div v-if="creativeStageDay === 2" class="daytitle">Day 2</div>
      </div>
    </div>
    <div v-if="creativeStageDay === 1" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">時間</div>
        <div class="tr-title">主題</div>
        <div class="tr-content">內容</div>
        <div class="tr-speaker">講者</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:15-10:30</div>
        <div class="tr-title">
          開幕
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:30-12:30</div>
        <div class="tr-title">
          Pitch Arena<br><br>
          新時代的號角響起
        </div>
        <div class="tr-content">
        
        </div>
        <div class="tr-speaker">
         參展團隊Pitch
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:30-14:00</div>
        <div class="tr-title">
          休息時間
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-15:00</div>
        <div class="tr-title">
          Pitch Arena<br>
          <br> The Call from New Stars
        </div>
        <div class="tr-content">
        超新星的呼喚：當創業家遇上學生
        </div>
        <div class="tr-speaker">
          iShoo<br>
          Body Farm Lab<br>
          Hopen好幫<br>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:10-15:40</div>
        <div class="tr-title">
          Battle Time<br><br>
          殘酷舞台海上爭霸戰
        </div>
        <div class="tr-content">
          超瞎生醫新創快問快答
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:00 - 17:00</div>
        <div class="tr-title">
          爐邊閒談<br>智者的領航
        </div>
        <div class="tr-content">
          主舞台講者為您解惑
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
    <div v-if="creativeStageDay === 2" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">時間</div>
        <div class="tr-title">主題</div>
        <div class="tr-content">內容</div>
        <div class="tr-speaker">講者</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:15-09:30</div>
        <div class="tr-title">
          開幕
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:30-12:30</div>
        <div class="tr-title">
          Pitch Arena<br><br>
          新時代的號角響起
        </div>
        <div class="tr-content">
        參展團隊Pitch
        </div>
        <div class="tr-speaker">
          
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:30-14:00</div>
        <div class="tr-title">
          休息時間
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-15:40</div>
        <div class="tr-title">
          專題演講<br>
          <br> 不一樣的航道： 生醫領域的可能性
        </div>
        <div class="tr-content">
          從台灣走入世界：我在WHA的所見所感 
          <br>
          <br> 從醫學走入策展：切片中的病態美學 
          <br>
          <br> 從學生走入創業：小暖健康的創辦故事 
          <br>
          <br> 從設計走入醫學：專屬孩童的創新醫學設計 
          <br>
          <br>
        </div>
        <div class="tr-speaker">
          吳懷玨
          <br>
          <br> 黃豆泥
          <br>
          <br> 黃欣宜
          <br>
          <br> Esther Wang
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:00-17:00</div>
        <div class="tr-title">
          爐邊閒談<br><br>智者的領航
        </div>
        <div class="tr-content">
          主舞台講者為您解惑
        </div>
        <div class="tr-speaker">
          
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
  </div>
  <div id="pitchStageAgenda" class="agenda-wrap">
    <div class="title">
      <h2>Pitch Stage Agenda</h2>
    </div>
    <div class="agenda-tab">
      <div class="agenda-tab-circles-dates">
        <div class="agenda-tab-circles">
          <div id="circle" @click="changeDay('pitchStageDay', 1)" class="tab-btn-circle" :class="{ active: pitchStageDay === 1 }"></div>
          <div id="circle" @click="changeDay('pitchStageDay', 2)" class="tab-btn-circle" :class="{ active: pitchStageDay === 2 }"></div>
        </div>
        <div class="agenda-tab-dates">
          <div @click="changeDay('pitchStageDay', 1)" class="tab-btn" :class="{ active: pitchStageDay === 1 }">Day 1</div>
          <div @click="changeDay('pitchStageDay', 2)" class="tab-btn" :class="{ active: pitchStageDay === 2 }">Day 2</div>
        </div>
      </div>
      <div class="time">
        <div v-if="pitchStageDay === 1" class="daytitle">Day 1</div>
        <div v-if="pitchStageDay === 2" class="daytitle">Day 2</div>
      </div>
    </div>
    <div v-if="pitchStageDay === 1" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">時間</div>
        <div class="tr-title">主題</div>
        <div class="tr-content">內容</div>
        <div class="tr-speaker">講者</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:15-10:30</div>
        <div class="tr-title">
          開幕
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:30-12:30</div>
        <div class="tr-title">
          Pitch Arena<br><br>
          新時代的號角響起
        </div>
        <div class="tr-content">
        
        </div>
        <div class="tr-speaker">
         參展團隊Pitch
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:30-14:00</div>
        <div class="tr-title">
          休息時間
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-15:00</div>
        <div class="tr-title">
          Pitch Arena<br>
          <br> The Call from New Stars
        </div>
        <div class="tr-content">
        超新星的呼喚：當創業家遇上學生
        </div>
        <div class="tr-speaker">
          iShoo<br>
          Body Farm Lab<br>
          Hopen好幫<br>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:10-15:40</div>
        <div class="tr-title">
          Battle Time<br><br>
          殘酷舞台海上爭霸戰
        </div>
        <div class="tr-content">
          超瞎生醫新創快問快答
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:00 - 17:00</div>
        <div class="tr-title">
          爐邊閒談<br>智者的領航
        </div>
        <div class="tr-content">
          主舞台講者為您解惑
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
    <div v-if="pitchStageDay === 2" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">時間</div>
        <div class="tr-title">主題</div>
        <div class="tr-content">內容</div>
        <div class="tr-speaker">講者</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:15-09:30</div>
        <div class="tr-title">
          開幕
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:30-12:30</div>
        <div class="tr-title">
          Pitch Arena<br><br>
          新時代的號角響起
        </div>
        <div class="tr-content">
        參展團隊Pitch
        </div>
        <div class="tr-speaker">
          
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:30-14:00</div>
        <div class="tr-title">
          休息時間
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-15:40</div>
        <div class="tr-title">
          專題演講<br>
          <br> 不一樣的航道： 生醫領域的可能性
        </div>
        <div class="tr-content">
          從台灣走入世界：我在WHA的所見所感 
          <br>
          <br> 從醫學走入策展：切片中的病態美學 
          <br>
          <br> 從學生走入創業：小暖健康的創辦故事 
          <br>
          <br> 從設計走入醫學：專屬孩童的創新醫學設計 
          <br>
          <br>
        </div>
        <div class="tr-speaker">
          吳懷玨
          <br>
          <br> 黃豆泥
          <br>
          <br> 黃欣宜
          <br>
          <br> Esther Wang
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:00-17:00</div>
        <div class="tr-title">
          爐邊閒談<br><br>智者的領航
        </div>
        <div class="tr-content">
          主舞台講者為您解惑
        </div>
        <div class="tr-speaker">
          
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
  </div>
</div>