<div class="pic1"></div>
<div class="wrapper agenda">
  <div class="main_title"><b>Agenda</b></div>
  <div class="agenda-link">
    <a class="box" href="#mainStageAgenda" style="margin-top: 20px;" data-turbolinks="false">
      <div class="text">
         Main Stage Agenda
      </div>
      <div class="arrow">
        <div class="triangle-down"></div>
      </div>
    </a>
    <a class="box" href="#creativeStageAgenda" style="margin: 7px auto;" data-turbolinks="false">
      <div class="text">
       Creative Stage Agenda
      </div>
      <div class="arrow">
        <div class="triangle-down"></div>
      </div>
    </a>
  </div>
  <div id="mainStageAgenda" class="agenda-wrap">
    <div class="title">
      <h2>Main Stage Agenda</h2>
    </div>
    <div class="agenda-tab">
      <div class="agenda-tab-circles-dates">
        <div class="agenda-tab-circles">
          <div id="circle" @click="changeDay('mainStageDay', 1)" class="tab-btn-circle" :class="{ active: mainStageDay === 1 }"></div>
          <div id="circle" @click="changeDay('mainStageDay', 2)" class="tab-btn-circle" :class="{ active: mainStageDay === 2 }"></div>
        </div>
        <div class="agenda-tab-dates">
          <div @click="changeDay('mainStageDay', 1)" class="tab-btn" :class="{ active: mainStageDay === 1 }">Day 1</div>
          <div @click="changeDay('mainStageDay', 2)" class="tab-btn" :class="{ active: mainStageDay === 2 }">Day 2</div>
        </div>
      </div>
      <div class="time">
        <div v-if="mainStageDay === 1" class="daytitle">Day 1</div>
        <div v-if="mainStageDay === 2" class="daytitle">Day 2</div>
        <!-- <b>27 TH August</b> -->
      </div>
    </div>
    <div v-if="mainStageDay === 1" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">時間</div>
        <div class="tr-title">主題</div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">內容</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">08:30-09:30</div>
        <div class="tr-title">
          開幕式
        </div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:00-10:30</div>
        <div class="tr-title">
          生醫產業的併購
        </div>
        <!-- <div class="tr-content">
          The Next Generation of Healthcare
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- OrbiMed 資深董事總經理 Nissim Darvish</div>
            <span class="tr-speaker__list-item__speech-title">生命科學產業併購的新脈動</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:30-11:00</div>
        <div class="tr-title">
          生醫產業的革新
        </div>
        <!-- <div class="tr-content">
          The Evolution of Healthcare: New Investment Opportunities
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- IBM 全球健康醫療和生命科學能力中心執行顧問 Lenny Chen</div>
            <span class="tr-speaker__list-item__speech-title">革新與機會：改變生醫生態系的新面孔</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:00-11:20</div>
        <div class="tr-title">
          科技與生醫領域
        </div>
        <!-- <div class="tr-content">
          The Intriguing Stories of Forbes 30 Under 30
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- TransLink Capital 董事總經理 Eric Hsia</div>
            <span class="tr-speaker__list-item__speech-title">科技革新牽動生醫產業的演進</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:20-11:40</div>
        <div class="tr-title">
          企業的創業加速器可以帶來什麼
        </div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 默克藥廠新創加速器營運長 Munya Chivasa</div>
            <span class="tr-speaker__list-item__speech-title">默克藥廠加速計畫：挹注新創必備的專業與資源</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:40-12:40</div>
        <div class="tr-title">
          新創募資：創業家該知道的事
        </div>
        <!-- <div class="tr-content">
          Decode the Mysteries of the Gene Therapy
        </div> -->
        <div class="tr-speaker">
          座談會（主持人：台杉投資生技投資事業資深協理鄭晴之
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 花旗商業金融負責人余苑菱</div>
            <span class="tr-speaker__list-item__speech-title">從天使投資到IPO：銀行角色定位及資本市場趨勢</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- HealthXCapital 合夥人 Seemant Jauhari</div>
            <span class="tr-speaker__list-item__speech-title">亞洲新創的推手：管理生醫創投早期資金的經驗談</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Inito 共同創辦人兼執行長 Aayush Rai</div>
            <span class="tr-speaker__list-item__speech-title">新創募資：矽谷 Y Combinator 加速器之新創團隊募資經驗談</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:40-13:30</div>
        <div class="tr-title">
          休息時間
        </div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">13:30-14:30</div>
        <div class="tr-title">
          慢性疾病
        </div>
        <!-- <div class="tr-content">
          The Opportunities and Challenges for AI in Healthcare
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Biofourmis 創辦人兼執行長 Kuldeep Singh Rajput</div>
            <span class="tr-speaker__list-item__speech-title">運用數位治療改善慢性疾病患者管理的新契機</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 鈦隼生物科技創辦人兼執行長陳階曉</div>
            <span class="tr-speaker__list-item__speech-title">手術機器人帶來慢性腦部疾病的巨大進展</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Imperative Care 共同創辦人兼技術長楊奕</div>
            <span class="tr-speaker__list-item__speech-title">運用科技改造神經領域治療：科技如何解決中風患者未被滿足的需求</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:30-15:30</div>
        <div class="tr-title">
          改善醫療體系效率
        </div>
        <!-- <div class="tr-content">
          A Black Hole or A Young Star: Blockchain
        </div> -->
        <div class="tr-speaker">
          座談會（主持人：PregBuddy & Connected Care 共同創辦人 Subhadeep Mondal）
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Halodoc 共同創辦人 Erwin Tenggono</div>
            <span class="tr-speaker__list-item__speech-title">擴展醫療服務範圍與理想化醫療資源運用的策略</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Innoplexus AG 創辦人兼執行長 Gunjan Bhardwaj</div>
            <span class="tr-speaker__list-item__speech-title">大數據：運用區塊鏈與人工智慧改善醫療體系</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- M Ventures 分析師張正富</div>
            <span class="tr-speaker__list-item__speech-title">如何以語音技術衡量真實世界醫療品質</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:30-16:30</div>
        <div class="tr-title">
          科技重塑醫療體系
        </div>
        <!-- <div class="tr-content">
          How Fueling Station to Upgrade Your Spaceship
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- NVIDIA 解決方案架構師劉冠良</div>
            <span class="tr-speaker__list-item__speech-title">NVIDIA 如何以超級運算平台 Project Clara 重新定義醫療影像</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Cobotical 共同創辦人兼商業總監 Jack Pearson</div>
            <span class="tr-speaker__list-item__speech-title">英格蘭醫療科技投資環境的關鍵趨勢</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Orfin Ventures 合夥人 Adam Finkel</div>
            <span class="tr-speaker__list-item__speech-title">如何以 AI 進行理想投資</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:30-16:50</div>
        <div class="tr-title">
          歐洲的生醫新創生態系
        </div>
        <!-- <div class="tr-content">
          Lighting a Torch to Fuel Innovation
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 默克藥廠新創中心執行長Michael Gamber</div>
            <span class="tr-speaker__list-item__speech-title">歐洲生醫新創生態系的新視界</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:50-17:30</div>
        <div class="tr-title">
          健康保險
        </div>
        <!-- <div class="tr-content">
          Lighting a Torch to Fuel Innovation
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 衛生福利部中央健康保險署署長李伯璋醫師</div>
            <span class="tr-speaker__list-item__speech-title">臺灣全民健保如何以資訊科技提升醫療品質與效率</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 聖路加國際大學公共衛生學院教授、東京慶應義塾大學名譽教授池上直己</div>
            <span class="tr-speaker__list-item__speech-title">全球健保模式與日本健保的成就</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">17:30-18:00</div>
        <div class="tr-title">
          醫病關係
        </div>
        <!-- <div class="tr-content">
          Lighting a Torch to Fuel Innovation
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- PregBuddy & Connected Care 共同創辦人 Sarika Lakshmi Sivareena、Subhadeep Mondal</div>
            <span class="tr-speaker__list-item__speech-title">建立醫病溝通的橋梁以改善治療結果</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
    <div v-if="mainStageDay === 2" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">時間</div>
        <div class="tr-title">主題</div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">講者與講題</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">08:30-09:30</div>
        <div class="tr-title">
          新創競技場：Pitch決賽
        </div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:40-10:00</div>
        <div class="tr-title">
          中國的生醫新創生態系
        </div>
        <!-- <div class="tr-content">
          The Next Generation of Healthcare
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 默克中國創新中心負責人及默克中國戰略及轉型副總裁孫正潔</div>
            <span class="tr-speaker__list-item__speech-title">默克藥廠的抉擇：中國日臻成熟新創生態系的因應之道</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:00-10:30</div>
        <div class="tr-title">
          真實世界數據
        </div>
        <!-- <div class="tr-content">
          The Evolution of Healthcare: New Investment Opportunities
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 哈佛醫學院群體醫學系助理教授Darren Toh</div>
            <span class="tr-speaker__list-item__speech-title">揭露真實世界數據的未來趨勢</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:30-11:00</div>
        <div class="tr-title">
          未來之戰
        </div>
        <!-- <div class="tr-content">
          The Intriguing Stories of Forbes 30 Under 30
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 亞馬遜網絡服務大中華區健康醫療和生命科學業務開發負責人黃慶春</div>
            <span class="tr-speaker__list-item__speech-title">2030年的生醫時代</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:00-11:20</div>
        <div class="tr-title">
          藥廠策略
        </div>
        <!-- <div class="tr-content">
          The Intriguing Stories of Forbes 30 Under 30
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 台杉投資生技投資事業資深協理鄭晴之</div>
            <span class="tr-speaker__list-item__speech-title">藥廠策略：優化創新藥物可近性</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:20-11:35</div>
        <div class="tr-title">
          精準醫療
        </div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 羅氏大藥廠臺灣區總經理許藹齡</div>
            <span class="tr-speaker__list-item__speech-title">個人化醫療：現在即是未來</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:35-12:00</div>
        <div class="tr-title">
          精準醫療
        </div>
        <!-- <div class="tr-content">
          Decode the Mysteries of the Gene Therapy
        </div> -->
        <div class="tr-speaker">
          爐邊談話
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 衛生福利部中央健康保險署署長李伯璋醫師</div>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 羅氏大藥廠臺灣區總經理許藹齡</div>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 哈佛醫學院群體醫學系助理教授Darren Toh</div>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:00-13:00</div>
        <div class="tr-title">
          休息時間
        </div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">13:00-14:00</div>
        <div class="tr-title">
          健康的社會決定性因素：健康不平等
        </div>
        <!-- <div class="tr-content">
          The Opportunities and Challenges for AI in Healthcare
        </div> -->
        <div class="tr-speaker">
          座談會（主持人：麻州綜合醫院創新研究員 Rahul Gandhi）
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Stats Congo 創辦人 Nohémie Mawaka</div>
            <span class="tr-speaker__list-item__speech-title">全球的健康社會決定性因素</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Kiipo 共同創辦人兼產品總監 Christopher Peng</div>
            <span class="tr-speaker__list-item__speech-title">告別專家獨大的時代：先進醫療科技的普及化</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 麻州綜合醫院創新研究員 Rahul Gandhi</div>
            <span class="tr-speaker__list-item__speech-title">公私夥伴關係於解決醫療不平等之重要性：實際案例</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:20</div>
        <div class="tr-title">
          女性醫療不平等
        </div>
        <!-- <div class="tr-content">
          A Black Hole or A Young Star: Blockchain
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Inito共同創辦人兼執行長Aayush Rai</div>
            <span class="tr-speaker__list-item__speech-title">手機上的行動婦科診所</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:20-15:20</div>
        <div class="tr-title">
          心理疾病
        </div>
        <!-- <div class="tr-content">
          How Fueling Station to Upgrade Your Spaceship
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 臺灣憂鬱症防治協會理事長張家銘</div>
            <span class="tr-speaker__list-item__speech-title">臺灣憂鬱症治療未被滿足的需求</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Quartet創辦人兼執行長Arun Gupta</div>
            <span class="tr-speaker__list-item__speech-title">新崛起的醫療科技新創：探討心理疾病的整合性治療</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 唐子俊診所院長唐子俊</div>
            <span class="tr-speaker__list-item__speech-title">壓力與情緒障礙的腦神經科學機制：精準精神科學新趨勢</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:20-16:00</div>
        <div class="tr-title">
          高齡照護
        </div>
        <!-- <div class="tr-content">
          Lighting a Torch to Fuel Innovation
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Ageing Asia Alliance 聯盟創辦人兼總經理 Janice Chia</div>
            <span class="tr-speaker__list-item__speech-title">亞太地區高齡化 : 銀髮新創的成長趨勢</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- 臺北榮總高齡醫學中心主任陳亮恭</div>
            <span class="tr-speaker__list-item__speech-title">如何打造零失能超高齡社會</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:00-17:00</div>
        <div class="tr-title">
          框架外的思考：富比世30歲以下名人榜經驗分享
        </div>
        <!-- <div class="tr-content">
          Lighting a Torch to Fuel Innovation
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- HealthMatch 創辦人兼執行長 Manuri Gunawardena</div>
            <span class="tr-speaker__list-item__speech-title">尋找最後一線生機：臨床試驗的精準配對</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Surgical Innovation Associates 創辦人 Alexei Mlodinow</div>
            <span class="tr-speaker__list-item__speech-title">從零到一：外科手術的快速創新與臨床合作關係</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Helium Health 共同創辦人兼技術長 Alex Azuike</div>
            <span class="tr-speaker__list-item__speech-title">醫療體系的數位轉型</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">17:00-17:30</div>
        <div class="tr-title">
          閉幕式
        </div>
        <!-- <div class="tr-content">
          Lighting a Torch to Fuel Innovation
        </div> -->
        <div class="tr-speaker">
          專題演講
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Imagiroo 主席暨研發長 Lily Born</div>
            <span class="tr-speaker__list-item__speech-title">使用者中心設計的案例：七歲的小孩為爺爺設計不再翻倒的「三腳杯」</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
  </div>
  <div id="creativeStageAgenda" class="agenda-wrap">
    <div class="title">
      <h2>Creative Stage Agenda</h2>
    </div>
    <div class="agenda-tab">
      <div class="agenda-tab-circles-dates">
        <div class="agenda-tab-circles">
          <div id="circle" @click="changeDay('creativeStageDay', 1)" class="tab-btn-circle" :class="{ active: creativeStageDay === 1 }"></div>
          <div id="circle" @click="changeDay('creativeStageDay', 2)" class="tab-btn-circle" :class="{ active: creativeStageDay === 2 }"></div>
        </div>
        <div class="agenda-tab-dates">
          <div @click="changeDay('creativeStageDay', 1)" class="tab-btn" :class="{ active: creativeStageDay === 1 }">Day 1</div>
          <div @click="changeDay('creativeStageDay', 2)" class="tab-btn" :class="{ active: creativeStageDay === 2 }">Day 2</div>
        </div>
      </div>
      <div class="time">
        <div v-if="creativeStageDay === 1" class="daytitle">Day 1</div>
        <div v-if="creativeStageDay === 2" class="daytitle">Day 2</div>
      </div>
    </div>
    <div v-if="creativeStageDay === 1" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">時間</div>
        <div class="tr-title">主題</div>
        <div class="tr-content"></div>
        <div class="tr-speaker">講者</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:20-11:30</div>
        <div class="tr-title">H. Spectrum & Merck Innovation Lab Opening</div>
        <div class="tr-content"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:30-13:00</div>
        <div class="tr-title">特別播映</div>
        <div class="tr-content">《我可能不會生下你》特映與分享</div>
        <div class="tr-speaker">鄧兆旻</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:10</div>
        <div class="tr-title">
          開幕
        </div>
        <div class="tr-content"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:10-14:40</div>
        <div class="tr-title">
          用他的雙腳走向我
        </div>
        <div class="tr-content">器官移植的協調與捐贈</div>
        <div class="tr-speaker">黃俊晟</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:50-15:20</div>
        <div class="tr-title">魔鏡，魔鏡，世界上我整得最美麗</div>
        <div class="tr-content">整形的價值與迷思</div>
        <div class="tr-speaker">周邦昀</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:30-16:10</div>
        <div class="tr-title">
          鐘響十二聲，你還在上班
        </div>
        <div class="tr-content">過勞還是懶惰？醫療領域的勞務議題</div>
        <div class="tr-speaker">廖郁雯<br>廖偉翔</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:20-17:00</div>
        <div class="tr-title">兒童不宜樂園</div>
        <div class="tr-content">生醫新創快問快答</div>
        <!-- <div class="tr-speaker"></div> -->
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
    <div v-if="creativeStageDay === 2" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">時間</div>
        <div class="tr-title">主題</div>
        <div class="tr-content"></div>
        <div class="tr-speaker">講者</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:30-11:40</div>
        <div class="tr-title">
          開幕
        </div>
        <div class="tr-content"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:40-12:20</div>
        <div class="tr-title">黑魔女的傲慢與浪漫</div>
        <div class="tr-content">醫學生等於當醫生？</div>
        <div class="tr-speaker">劉昌豪<br>楊育杰</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:30-13:00</div>
        <div class="tr-title">
          乾杯！別急著找離開仙境的路
        </div>
        <div class="tr-content">酒精使用與成癮</div>
        <div class="tr-speaker">陳嫚羚</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">13:00-14:00</div>
        <div class="tr-title">
          休息時間
        </div>
        <div class="tr-content"></div>
        <div class="tr-speaker"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">13:00-14:00</div>
        <div class="tr-title">
          開幕
        </div>
        <div class="tr-content"></div>
        <div class="tr-speaker"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:10-14:50</div>
        <div class="tr-title">
          （不）快樂王子的選擇
        </div>
        <div class="tr-content">靠北醫護</div>
        <div class="tr-speaker">劉育志<br>傅志遠</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:00-15:40</div>
        <div class="tr-title">那粒豆豆不讓我睡</div>
        <div class="tr-content">伴侶關係中親密行為的衝突與協商</div>
        <div class="tr-speaker">徐豪謙</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:00-16:40</div>
        <div class="tr-title">
          兒童不宜樂園
        </div>
        <div class="tr-content">生醫新創 BINGO</div>
        <!-- <div class="tr-speaker"></div> -->
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
  </div>
</div>