<div class="pic1 img-bg-cover" style="background-image: url('/assets/img/agenda/活動議程頁-02.png'); background-position: center 71%;"></div>
<div class="wrapper agenda">
  <div class="main_title"><b>Agenda</b></div>
  <div class="agenda-link">
    <a class="box" href="#mainStageAgenda" style="margin-top: 20px;">
      <div class="text">
         Main Stage Agenda
      </div>
      <div class="arrow">
        <div class="triangle-down"></div>
      </div>
    </a>
    <a class="box" href="#creativeStageAgenda" style="margin: 7px auto;">
      <div class="text">
       Creative Stage Agenda
      </div>
      <div class="arrow">
        <div class="triangle-down"></div>
      </div>
    </a>
    <a class="box" href="#pitchStageAgenda" style="margin-bottom: 20px;">
      <div class="text">
       Pitch Stage Agenda
      </div>
      <div class="arrow">
        <div class="triangle-down"></div>
      </div>
    </a>
  </div>
  <div id="mainStageAgenda" class="agenda-wrap">
    <div class="title">
      <h2>Main Stage Agenda</h2>
    </div>
    <div class="agenda-tab">
      <div class="agenda-tab-circles-dates">
        <div class="agenda-tab-circles">
          <div id="circle" @click="changeDay('mainStageDay', 1)" class="tab-btn-circle" :class="{ active: mainStageDay === 1 }"></div>
          <div id="circle" @click="changeDay('mainStageDay', 2)" class="tab-btn-circle" :class="{ active: mainStageDay === 2 }"></div>
        </div>
        <div class="agenda-tab-dates">
          <div @click="changeDay('mainStageDay', 1)" class="tab-btn" :class="{ active: mainStageDay === 1 }">Day 1</div>
          <div @click="changeDay('mainStageDay', 2)" class="tab-btn" :class="{ active: mainStageDay === 2 }">Day 2</div>
        </div>
      </div>
      <div class="time">
        <div v-if="mainStageDay === 1" class="daytitle">Day 1</div>
        <div v-if="mainStageDay === 2" class="daytitle">Day 2</div>
        <!-- <b>27 TH August</b> -->
      </div>
    </div>
    <div v-if="mainStageDay === 1" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">TIME</div>
        <div class="tr-title">TITLE</div>
        <div class="tr-content">CONTENT</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:30-10:00</div>
        <div class="tr-title">
          Welcome Address<br><br>The Big Bang
        </div>
        <div class="tr-content">To Infinity and Beyond
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:00-10:50</div>
        <div class="tr-title">
          Keynote Speech<br><br>A Call from Space Station
        </div>
        <div class="tr-content">
          Next Generation of Healthcare
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:00-11:50</div>
        <div class="tr-title">
          Panel Talk<br><br>Commencing Countdown, Lift Off
        </div>
        <div class="tr-content">
          The Surprising Stories of Forbes 30 under 30
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:50-12:20</div>
        <div class="tr-title">
          Panel Talk<br><br>Upon Earth
        </div>
        <div class="tr-content">
          Reaching for the Stars: Healthcare Startups in Asia
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:20-14:00</div>
        <div class="tr-title">
          Refuel and Rest
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:50</div>
        <div class="tr-title">
          Keynote Speech<br><br>The Rising Stars
        </div>
        <div class="tr-content">
          The Blue Moons in the Investment Universe
        </div> 
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:00-16:30</div>
        <div class="tr-title">
          Panel Talk<br><br>Beyond the Event Horizon 
        </div>
        <div class="tr-content">
          A Black Hole or A Young Star: Blockchain
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
    <div v-if="mainStageDay === 2" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">TIME</div>
        <div class="tr-title">TITLE</div>
        <div class="tr-content">CONTENT</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:00-09:30</div>
        <div class="tr-title">
          Keynote Speech<br><br>Ground Control to Major Tom
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:30-10:00</div>
        <div class="tr-title">
          Panel Talk<br><br>Across the Universe
        </div>
        <div class="tr-content">
          How to Build A Startup as A Global Entrepreneur
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:00-10:30</div>
        <div class="tr-title">
          Keynote Speech<br><br>Senior-Oriented Industry
        </div>
        <div class="tr-content">
          Not Just About Aging and Elderly
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:40- 12:40</div>
        <div class="tr-title">
           Pitch Galaxy
        </div>
        <div class="tr-content">
          Shine Like the Whole Universe Is Yours
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:40-14:00</div>
        <div class="tr-title">
          Refuel and Rest
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:40</div>
        <div class="tr-title">
          Keynote Speech<br><br>Exploring the Unknown of Galaxy 
        </div>
        <div class="tr-content">
          How to Get On Track with Interoperability
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:50-15:30</div>
        <div class="tr-title">
          Keynote Speech<br><br>Exploring the Unknown of Galaxy
        </div>
        <div class="tr-content">
          Decoding the Mysteries of the Genome
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:40-16:20</div>
        <div class="tr-title">
          Panel Talk<br><br>Exploring the Unknown of Galaxy
        </div>
        <div class="tr-content">
          Achieving Better Healthcare with Artificial Intelligence
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:30-17:10</div>
        <div class="tr-title">
          Panel Talk<br><br>Exploring the Unknown of Galaxy
        </div>
        <div class="tr-content">
          Digital therapeutics: Ready to Takeoff
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">17:10-17:40</div>
        <div class="tr-title">
          Keynote Speech<br><br>Never Fade Away
        </div>
        <div class="tr-content">
          The Evolution of Healthcare as An Investment Area
        </div>
        <div class="tr-toggle">
        </div>
      </div>
    </div>
  </div>
  <div id="creativeStageAgenda" class="agenda-wrap">
    <div class="title">
      <h2>Creative Stage Agenda</h2>
    </div>
    <div class="agenda-tab">
      <div class="agenda-tab-circles-dates">
        <div class="agenda-tab-circles">
          <div id="circle" @click="changeDay('creativeStageDay', 1)" class="tab-btn-circle" :class="{ active: creativeStageDay === 1 }"></div>
          <div id="circle" @click="changeDay('creativeStageDay', 2)" class="tab-btn-circle" :class="{ active: creativeStageDay === 2 }"></div>
        </div>
        <div class="agenda-tab-dates">
          <div @click="changeDay('creativeStageDay', 1)" class="tab-btn" :class="{ active: creativeStageDay === 1 }">Day 1</div>
          <div @click="changeDay('creativeStageDay', 2)" class="tab-btn" :class="{ active: creativeStageDay === 2 }">Day 2</div>
        </div>
      </div>
      <div class="time">
        <div v-if="creativeStageDay === 1" class="daytitle">Day 1</div>
        <div v-if="creativeStageDay === 2" class="daytitle">Day 2</div>
      </div>
    </div>
    <div v-if="creativeStageDay === 1" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">TIME</div>
        <div class="tr-title">TITLE</div>
        <div class="tr-content"></div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:15-10:30</div>
        <div class="tr-title">
          Welcome Address
        </div>
        <div class="tr-content"></div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:30-13:00</div>
        <div class="tr-title">
          Asia’s next top startups
        </div>
        <div class="tr-content"></div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">13:00-14:00</div>
        <div class="tr-title">
          Refuel and Rest
        </div>
        <div class="tr-content"></div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:30</div>
        <div class="tr-title">
          Let's Debate
        </div>
        <div class="tr-content"></div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:40-15:10</div>
        <div class="tr-title">
          Keynote speech<br><br>
          Different Lane of Orbital: The Different Possibilities in Healthcare Area
        </div>
        <div class="tr-content"></div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:30 - 16:00</div>
        <div class="tr-title">
          Let's Debate
        </div>
        <div class="tr-content"></div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:20 - 16:50</div>
        <div class="tr-title">
          Star Wars
        </div>
        <div class="tr-content"></div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
    <div v-if="creativeStageDay === 2" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">TIME</div>
        <div class="tr-title">TITLE</div>
        <div class="tr-content"></div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">9:45-10:00</div>
        <div class="tr-title">
          Welcome Address
        </div>
        <div class="tr-content"></div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:30-13:00</div>
        <div class="tr-title">
          Workshop: Call from Outer Space
        </div>
        <div class="tr-content"></div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">13:00-14:00</div>
        <div class="tr-title">
          Refuel and Rest
        </div>
        <div class="tr-content"></div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:30</div>
        <div class="tr-title">
          Let's Debate
        </div>
        <div class="tr-content"></div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:40-15:10</div>
        <div class="tr-title">
          Let's Debate
        </div>
        <div class="tr-content"></div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:30-16:00</div>
        <div class="tr-title">
          Keynote Speech: A Dialogue of Medicine Between Present and Past Medication Knowledge of the interstellar
        </div>
        <div class="tr-content"></div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:20-16:50</div>
        <div class="tr-title">
          Panel Talk: The Patients Get Something to Say
        </div>
        <div class="tr-content"></div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
  </div>
  <div id="pitchStageAgenda" class="agenda-wrap">
    <div class="title">
      <h2>Pitch Stage Agenda</h2>
    </div>
    <div class="agenda-tab">
      <div class="agenda-tab-circles-dates">
        <div class="agenda-tab-circles">
          <div id="circle" @click="changeDay('pitchStageDay', 1)" class="tab-btn-circle" :class="{ active: pitchStageDay === 1 }"></div>
          <!-- <div id="circle" @click="changeDay('pitchStageDay', 2)" class="tab-btn-circle" :class="{ active: pitchStageDay === 2 }"></div> -->
        </div>
        <div class="agenda-tab-dates">
          <div @click="changeDay('pitchStageDay', 1)" class="tab-btn" :class="{ active: pitchStageDay === 1 }">Day 1</div>
          <!-- <div @click="changeDay('pitchStageDay', 2)" class="tab-btn" :class="{ active: pitchStageDay === 2 }">Day 2</div> -->
        </div>
      </div>
      <div class="time">
        <div v-if="pitchStageDay === 1" class="daytitle">Day 1</div>
        <!-- <div v-if="pitchStageDay === 2" class="daytitle">Day 2</div> -->
      </div>
    </div>
    <div v-if="pitchStageDay === 1" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">TIME</div>
        <div class="tr-title">TITLE</div>
        <div class="tr-content">CONTENT</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:30-13:00</div>
        <div class="tr-title">
          Asia’s next top startups
        </div>
        <div class="tr-content">
          Pitch Arena
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">13:00-14:00</div>
        <div class="tr-title">
          Refuel and Rest
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-17:10</div>
        <div class="tr-title">
          Asia’s next top startups
        </div>
        <div class="tr-content">
          Pitch Arena
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
    <!-- <div v-if="pitchStageDay === 2" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">TIME</div>
        <div class="tr-title">TITLE</div>
        <div class="tr-content">CONTENT</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:15-09:30</div>
        <div class="tr-title">
          Welcome Address
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:30-12:30</div>
        <div class="tr-title">
          Pitch Arena<br><br>
          Bugle Call for the Next Generation
        </div>
        <div class="tr-content">
        50+ Worldwide Startup Pitch Decks
        </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:30-14:00</div>
        <div class="tr-title">
          Rest and Refuel
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-15:40</div>
        <div class="tr-title">
          Keynote Speech<br>
          <br>A Different Lane: The Different Possibilities in Healthcare Field
        </div>
        <div class="tr-content">
          1.From Taiwan to The World - What I Saw in WHA
          <br>
          <br> 2.From Medicine to Curation - The Beauty of Pathology
          <br>
          <br> 3.From Student to Startup - The Story of Warmie Health
          <br>
          <br> 4.From Design To Medicine - The Innovative Way of Medical Education for Children
          <br>
          <br>
        </div>
          <br>
          <br>Yen-Lin Huang
          <br>
          <br>Frances Huang
          <br>
          <br>Esther Wang
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:00-17:00</div>
        <div class="tr-title">
          Fireside Chat<br><br>
          The Guidance from Wise Men
        </div>
        <div class="tr-content">
          Advice from Main Stage Speakers
        </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div> -->
  </div>
</div>