<div class="pic1"></div>
<div class="wrapper agenda">
  <div class="main_title"><b>Agenda</b></div>
  <div class="agenda-link">
    <a class="box" href="#mainStageAgenda" style="margin-top: 20px;" data-turbolinks="false">
      <div class="text">
         Main Stage Agenda
      </div>
      <div class="arrow">
        <div class="triangle-down"></div>
      </div>
    </a>
    <a class="box" href="#creativeStageAgenda" style="margin: 7px auto;" data-turbolinks="false">
      <div class="text">
       Creative Stage Agenda
      </div>
      <div class="arrow">
        <div class="triangle-down"></div>
      </div>
    </a>
  </div>
  <div id="mainStageAgenda" class="agenda-wrap">
    <div class="title">
      <h2>Main Stage Agenda</h2>
    </div>
    <div class="agenda-tab">
      <div class="agenda-tab-circles-dates">
        <div class="agenda-tab-circles">
          <div id="circle" @click="changeDay('mainStageDay', 1)" class="tab-btn-circle" :class="{ active: mainStageDay === 1 }"></div>
          <div id="circle" @click="changeDay('mainStageDay', 2)" class="tab-btn-circle" :class="{ active: mainStageDay === 2 }"></div>
        </div>
        <div class="agenda-tab-dates">
          <div @click="changeDay('mainStageDay', 1)" class="tab-btn" :class="{ active: mainStageDay === 1 }">Day 1</div>
          <div @click="changeDay('mainStageDay', 2)" class="tab-btn" :class="{ active: mainStageDay === 2 }">Day 2</div>
        </div>
      </div>
      <div class="time">
        <div v-if="mainStageDay === 1" class="daytitle">Day 1</div>
        <div v-if="mainStageDay === 2" class="daytitle">Day 2</div>
        <!-- <b>27 TH August</b> -->
      </div>
    </div>
    <div v-if="mainStageDay === 1" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">TIME</div>
        <div class="tr-title">THEME</div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">TOPIC</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">08:30-09:30</div>
        <div class="tr-title">
          Opening
        </div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:00-10:30</div>
        <div class="tr-title">
          The Rising Trend of M&A in Healthcare
        </div>
        <!-- <div class="tr-content">
          The Next Generation of Healthcare
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Nissim Darvish, M.D., Ph.D., Senior Managing Director at OrbiMed Advisors</div>
            <span class="tr-speaker__list-item__speech-title">The Rising Trend of M&A in the Life Science Industry</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:30-11:00</div>
        <div class="tr-title">
          The Evolution in Healthcare and  Medical Field
        </div>
        <!-- <div class="tr-content">
          The Evolution of Healthcare: New Investment Opportunities
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Lenny Chen, MPH, Executive Consultant, IBM Global Center of Competence for Healthcare & Life Sciences</div>
            <span class="tr-speaker__list-item__speech-title">The Bold New Entrants Transforming Healthcare Ecosystem</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:00-11:20</div>
        <div class="tr-title">
          Technology and Healthcare
        </div>
        <!-- <div class="tr-content">
          The Intriguing Stories of Forbes 30 Under 30
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Eric Hsia, Managing Director at TransLink Capital</div>
            <span class="tr-speaker__list-item__speech-title">How Healthcare is Evolving with Technology</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:20-11:40</div>
        <div class="tr-title">
          What a Cooperate Accelerator  Program Could Bring
        </div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Munya Chivasa, Head of the Accelerator at the Merck Innovation Center</div>
            <span class="tr-speaker__list-item__speech-title">How Merck Accelerator Program Supports Startups by Leveraging Expertise and Collaborative Opportunities</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:40-12:40</div>
        <div class="tr-title">
          Startup Fundraising: What Every Entrepreneur Should Know
        </div>
        <!-- <div class="tr-content">
          Decode the Mysteries of the Gene Therapy
        </div> -->
        <div class="tr-speaker">
          Panel Talk (Moderator: Diana Cheng, M.D., MBA, Senior Investment Director in Buffalo II BioFund at Taiwania Capital)
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Michelle Yu, Head of Citi Commercial Bank, Citibank Taiwan</div>
            <span class="tr-speaker__list-item__speech-title">How Banks Help Start-ups from Angel Funds to IPO and Capital Market Trend</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Seemant Jauhari, Partner at HealthXCapital</div>
            <span class="tr-speaker__list-item__speech-title">Fuel Innovation in Asia: The Experience of Managing a Healthcare-focused Early Stage VC Fund</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Aayush Rai, Co-founder & CEO at Inito</div>
            <span class="tr-speaker__list-item__speech-title">Fundraising Mechanism: Startups in Y Combinator Accelerator Program</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:40-13:30</div>
        <div class="tr-title">
          Break Time
        </div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">13:30-14:30</div>
        <div class="tr-title">
          Chronic Disease
        </div>
        <!-- <div class="tr-content">
          The Opportunities and Challenges for AI in Healthcare
        </div> -->
        <div class="tr-speaker">
          Keynote<br>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Kuldeep Singh Rajput, Founder and CEO of Biofourmis</div>
            <span class="tr-speaker__list-item__speech-title">The New Possibilities of Better Management of Patients with Chronic Conditions Using Digital Therapeutics</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Jerry Chen, MD., PhD., CEO at Brain Navi Ltd.</div>
            <span class="tr-speaker__list-item__speech-title">Robotics in OR: The Future is NOW</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Yi Yang, Co-founder and Chief Technology Officer at Imperative Care</div>
            <span class="tr-speaker__list-item__speech-title">Using Technology to Transform the Treatment of Neurology Filed: How Technology Can Solve Stroke’s Unmet Needs</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:30-15:30</div>
        <div class="tr-title">
          The Ways to Improve the Healthcare System
        </div>
        <!-- <div class="tr-content">
          A Black Hole or A Young Star: Blockchain
        </div> -->
        <div class="tr-speaker">
          Panel talk (Moderator: Subhadeep Mondal, Co-founder of PregBuddy & Connected Care)
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Erwin Tenggono, Co-founder at Halodoc</div>
            <span class="tr-speaker__list-item__speech-title">The Way to Widen Healthcare Service and Optimize the Use of Health Resources</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Gunjan Bhardwaj, Founder and CEO at Innoplexus AG</div>
            <span class="tr-speaker__list-item__speech-title">Big Data: Using Blockchain and AI to Improve the Healthcare System</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Tony Chang, Associate at M Ventures</div>
            <span class="tr-speaker__list-item__speech-title">Measuring Real World Health Measurements with Voice-Based Technology</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:30-16:30</div>
        <div class="tr-title">
          Technology-Reformed Healthcare System
        </div>
        <!-- <div class="tr-content">
          How Fueling Station to Upgrade Your Spaceship
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Andrew Liu, Deep Learning Solution Architect at NVIDIA</div>
            <span class="tr-speaker__list-item__speech-title">How NVIDIA Redefines Medical Imaging through Project Clara</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Jack Pearson, Co-founder and Commercial Director at Cobotical</div>
            <span class="tr-speaker__list-item__speech-title">Key Trends in England’s Healthcare Technology Investment</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Adam Finkel, Partner at Orfin Ventures</div>
            <span class="tr-speaker__list-item__speech-title">Making Smart Investments with AI</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:30-16:50</div>
        <div class="tr-title">
          Innovation Ecosystem in Healthcare in Europe
        </div>
        <!-- <div class="tr-content">
          Lighting a Torch to Fuel Innovation
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Michael Gamber, Head of Merck Innovation Center</div>
            <span class="tr-speaker__list-item__speech-title">An Insight to Innovation Healthcare Ecosystem in Europe</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:50-17:30</div>
        <div class="tr-title">
          Health Insurance
        </div>
        <!-- <div class="tr-content">
          Lighting a Torch to Fuel Innovation
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Po-Chang Lee, M.D., M.T.L., Director General, National Health Insurance Administration, Ministry of Health and Welfare</div>
            <span class="tr-speaker__list-item__speech-title">Taiwan’s National Health Insurance: Improving Healthcare Efficiency and Quality with Information Technology</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Naoki Ikegami, Professor at St. Luke’s International University School of Public Health, and Professor Emeritus at Keio University, Tokyo</div>
            <span class="tr-speaker__list-item__speech-title">Lessons in Universal Health Insurance Models and Japan's Achievement</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">17:30-18:00</div>
        <div class="tr-title">
          Doctor-Patient Relationship
        </div>
        <!-- <div class="tr-content">
          Lighting a Torch to Fuel Innovation
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Sarika Lakshmi Sivareena and Subhadeep Mondal, Co-founder of PregBuddy & Connected Care</div>
            <span class="tr-speaker__list-item__speech-title">Bridging the Gap Between Doctors and Patients to Improve the Health Outcome</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
    <div v-if="mainStageDay === 2" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">TIME</div>
        <div class="tr-title">THEME</div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">TOPIC</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">08:30-09:30</div>
        <div class="tr-title">
          Pitch Competition
        </div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:40-10:00</div>
        <div class="tr-title">
          Innovation Ecosystem in Healthcare in China
        </div>
        <!-- <div class="tr-content">
          The Next Generation of Healthcare
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Sophie Sun, Managing Director at Merck Innovation Hub China and Vice President of Merck Strategy & Transformation China</div>
            <span class="tr-speaker__list-item__speech-title">China is Building An Innovation Ecosystem Ripe for Healthcare Startups: Here’s How Merck Do's and Don'ts</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:00-10:30</div>
        <div class="tr-title">
          Real World Data
        </div>
        <!-- <div class="tr-content">
          The Evolution of Healthcare: New Investment Opportunities
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Darren Toh, Associate Professor in the Department of Population Medicine at Harvard Medical School</div>
            <span class="tr-speaker__list-item__speech-title">Uncovering Trends in the Future of Real World Data</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:30-11:00</div>
        <div class="tr-title">
          Future Fight
        </div>
        <!-- <div class="tr-content">
          The Intriguing Stories of Forbes 30 Under 30
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Hansen Huang, Healthcare & Life Science Development Head at Amazon Web Service Great China Region</div>
            <span class="tr-speaker__list-item__speech-title">Healthcare in 2030</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:00-11:20</div>
        <div class="tr-title">
          Pharma Strategy
        </div>
        <!-- <div class="tr-content">
          The Intriguing Stories of Forbes 30 Under 30
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Diana Cheng, M.D., MBA, Senior Investment Director in Buffalo II BioFund at Taiwania Capital</div>
            <span class="tr-speaker__list-item__speech-title">Pharmaceutical Strategy to Optimize Patient Access for Innovative Medicine</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:20-11:35</div>
        <div class="tr-title">
          Precision Medicine
        </div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Irene Hsu, General Manager at Roche Pharma Taiwan</div>
            <span class="tr-speaker__list-item__speech-title">Personalizing Healthcare: The Future is Now</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:35-12:00</div>
        <div class="tr-title">
          Precision Medicine
        </div>
        <!-- <div class="tr-content">
          Decode the Mysteries of the Gene Therapy
        </div> -->
        <div class="tr-speaker">
          Fireside Chat
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Po-Chang Lee, M.D., M.T.L., Director General, National Health Insurance Administration, Ministry of Health and Welfare</div>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Irene Hsu, General Manager at Roche Pharma Taiwan</div>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Darren Toh, Associate Professor in the Department of Population Medicine at Harvard Medical School</div>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:00-13:00</div>
        <div class="tr-title">
          Break Time
        </div>
        <!-- <div class="tr-content"></div> -->
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">13:00-14:00</div>
        <div class="tr-title">
          Social Determinants of Health: Health Inequities
        </div>
        <!-- <div class="tr-content">
          The Opportunities and Challenges for AI in Healthcare
        </div> -->
        <div class="tr-speaker">
          Panel Talk (Moderator: Rahul Gandhi, Innovation Fellow at Massachusetts General Hospital)
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Nohémie Mawaka, Founder of Stats Congo</div>
            <span class="tr-speaker__list-item__speech-title">The Social Determinants of Global Health</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Christopher Peng, Co-founder and Head of Product at Kiipo</div>
            <span class="tr-speaker__list-item__speech-title">How to Make the Most Advanced Health Technology Accessible to Everyone</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Rahul Gandhi, Innovation Fellow at Massachusetts General Hospital</div>
            <span class="tr-speaker__list-item__speech-title">The Importance of Public-Private Partnerships in Solving Health Inequity: Real-Life Lessons</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:20</div>
        <div class="tr-title">
          Health Inequity in Women
        </div>
        <!-- <div class="tr-content">
          A Black Hole or A Young Star: Blockchain
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Aayush Rai, Co-founder & CEO at Inito</div>
            <span class="tr-speaker__list-item__speech-title">Building a Fertility Clinic on Your Phone</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:20-15:20</div>
        <div class="tr-title">
          Mental Illness
        </div>
        <!-- <div class="tr-content">
          How Fueling Station to Upgrade Your Spaceship
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Chia-Ming Chang, M.D, Ph.D., President of Taiwan Association Against Depression</div>
            <span class="tr-speaker__list-item__speech-title">Unmet Need in the Treatment of Major Depressive Disorder in Taiwan</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Arun Gupta, Founder and Executive Chairman of Quartet</div>
            <span class="tr-speaker__list-item__speech-title">The Coming of Technology Native Healthcare enterprises: A Case Study on Scaling Mental Health Integration</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Michael Tang, Head of Dr. Tang Psychiatric Clinic and Mind Center</div>
            <span class="tr-speaker__list-item__speech-title">The Neuroscience Mechanism of Stress and Mood Disorders: New Trends in Precision Psychiatry and Clinical Applications</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:20-16:00</div>
        <div class="tr-title">
          Aging Population Care
        </div>
        <!-- <div class="tr-content">
          Lighting a Torch to Fuel Innovation
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Janice Chia, Founder & Managing Director at Ageing Asia Alliance</div>
            <span class="tr-speaker__list-item__speech-title">The Aging Population: Innovative Business Trends on the Rise in Asia Pacific</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Liang-Kung Chen, Director of Center for Geriatrics and Gerontology, Taipei Veterans General Hospital</div>
            <span class="tr-speaker__list-item__speech-title">How to Build Up an Aging-friendly Society</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:00-17:00</div>
        <div class="tr-title">
          Great Minds Don’t Always Think Alike
        </div>
        <!-- <div class="tr-content">
          Lighting a Torch to Fuel Innovation
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Manuri Gunawardena, Founder and CEO at HealthMatch</div>
            <span class="tr-speaker__list-item__speech-title">How to Help Patients Access Potentially Life-saving Clinical Trials</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Alexei Mlodinow, Founding CEO of Surgical Innovation Associates</div>
            <span class="tr-speaker__list-item__speech-title">Idea to Operating Room - Clinical Partnership for Rapid Surgical Innovation</span>
          </div>
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Alex Azuike, Co-founder and Chief Technology Officer at Helium Health</div>
            <span class="tr-speaker__list-item__speech-title">The Digital Transformation of the Healthcare System</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">17:00-17:30</div>
        <div class="tr-title">
          Closing
        </div>
        <!-- <div class="tr-content">
          Lighting a Torch to Fuel Innovation
        </div> -->
        <div class="tr-speaker">
          Keynote
          <div class="tr-speaker__list-item">
            <div class="tr-speaker__list-item__name">- Lily Born, Chairwoman, Chief Invention Officer at Imagiroo, LLC</div>
            <span class="tr-speaker__list-item__speech-title">User Centric Device Design- Case Study: A 7 Year Old Designs a Tip Resistant Cup</span>
          </div>
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
  </div>
  <div id="creativeStageAgenda" class="agenda-wrap">
    <div class="title">
      <h2>Creative Stage Agenda</h2>
    </div>
    <div class="agenda-tab">
      <div class="agenda-tab-circles-dates">
        <div class="agenda-tab-circles">
          <div id="circle" @click="changeDay('creativeStageDay', 1)" class="tab-btn-circle" :class="{ active: creativeStageDay === 1 }"></div>
          <div id="circle" @click="changeDay('creativeStageDay', 2)" class="tab-btn-circle" :class="{ active: creativeStageDay === 2 }"></div>
        </div>
        <div class="agenda-tab-dates">
          <div @click="changeDay('creativeStageDay', 1)" class="tab-btn" :class="{ active: creativeStageDay === 1 }">Day 1</div>
          <div @click="changeDay('creativeStageDay', 2)" class="tab-btn" :class="{ active: creativeStageDay === 2 }">Day 2</div>
        </div>
      </div>
      <div class="time">
        <div v-if="creativeStageDay === 1" class="daytitle">Day 1</div>
        <div v-if="creativeStageDay === 2" class="daytitle">Day 2</div>
      </div>
    </div>
    <div v-if="creativeStageDay === 1" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">TIME</div>
        <div class="tr-title">TITLE</div>
        <div class="tr-content"></div>
        <div class="tr-speaker">SPEAKER</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:20-11:30</div>
        <div class="tr-title">Welcome Address</div>
        <div class="tr-content"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:30-13:00</div>
        <div class="tr-title">Special Screening</div>
        <div class="tr-content"><<The Third Option>></div>
        <div class="tr-speaker">James Teng</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:10</div>
        <div class="tr-title">
          Welcome Address
        </div>
        <div class="tr-content"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:10-14:40</div>
        <div class="tr-title">
          Walk to Me on His Legs
        </div>
        <div class="tr-content">Coordination and Donation of Organ Transplantation</div>
        <div class="tr-speaker">Chun-Cheng Huang</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:50-15:20</div>
        <div class="tr-title">You are the Spoiled Apple of My Eye</div>
        <div class="tr-content">The Value and Myth of Cosmetic Surgery</div>
        <div class="tr-speaker">Pang-Yun Chou</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:30-16:10</div>
        <div class="tr-title">
          Sorry! It’s Over Midnight!<br>But You Still Have to Work lol
        </div>
        <div class="tr-content">Overworked or Lazy? Labor Issues in the Medical Field</div>
        <div class="tr-speaker">Yu-Wen Liao<br>Wei-Hsiang Liao</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:20-17:00</div>
        <div class="tr-title">Dismaland</div>
        <div class="tr-content">Healthcare Startup Lightning Round</div>
        <!-- <div class="tr-speaker"></div> -->
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
    <div v-if="creativeStageDay === 2" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">TIME</div>
        <div class="tr-title">TITLE</div>
        <div class="tr-content"></div>
        <div class="tr-speaker">SPEAKER</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:30-11:40</div>
        <div class="tr-title">
          Welcome Address
        </div>
        <div class="tr-content"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:40-12:20</div>
        <div class="tr-title">Maleficent’s True-Love-Incantation</div>
        <div class="tr-content">Medical Students Equal to Doctors?</div>
        <div class="tr-speaker">ChanHaw Liu <br>Jack Yang</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:30-13:00</div>
        <div class="tr-title">
          Chuck this Glass and Indulged in Wonderland
        </div>
        <div class="tr-content">Alcohol and Addiction</div>
        <div class="tr-speaker">Miranda Chen</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">13:00-14:00</div>
        <div class="tr-title">
          Refuel and Rest
        </div>
        <div class="tr-content"></div>
        <div class="tr-speaker"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">13:00-14:00</div>
        <div class="tr-title">
          Welcome Address
        </div>
        <div class="tr-content"></div>
        <div class="tr-speaker"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:10-14:50</div>
        <div class="tr-title">
          The (Un)Happy Prince
        </div>
        <div class="tr-content">Kaobei Medical Staff</div>
        <div class="tr-speaker">Yu-Chih Liu<br>Peter Fu</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:00-15:40</div>
        <div class="tr-title">Tossed and Turned All Night Because of You</div>
        <div class="tr-content">Conflicts and Negotiations of Intimate Behaviors in Partnerships</div>
        <div class="tr-speaker">Hao-Chien Hsu</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:00-16:40</div>
        <div class="tr-title">
          Dismaland
        </div>
        <div class="tr-content">Healthcare Startup Bingo</div>
        <!-- <div class="tr-speaker"></div> -->
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
  </div>
</div>