<div class="pic1 img-bg-cover" style="background-image: url('/img/agenda/活動議程頁-02.png'); background-position: center 71%;"></div>
<div class="wrapper agenda">
  <div class="main_title"><b>Agenda</b></div>
  <div class="agenda-link">
    <a class="box" href="#mainStageAgenda" style="margin-top: 20px;">
      <div class="text">
         Main Stage Agenda
      </div>
      <div class="arrow">
        <div class="triangle-down"></div>
      </div>
    </a>
    <a class="box" href="#creativeStageAgenda" style="margin: 7px auto;">
      <div class="text">
       Creative Stage Agenda
      </div>
      <div class="arrow">
        <div class="triangle-down"></div>
      </div>
    </a>
  </div>
  <div id="mainStageAgenda" class="agenda-wrap">
    <div class="title">
      <h2>Main Stage Agenda</h2>
    </div>
    <div class="agenda-tab">
      <div class="agenda-tab-circles-dates">
        <div class="agenda-tab-circles">
          <div id="circle" @click="changeDay('mainStageDay', 1)" class="tab-btn-circle" :class="{ active: mainStageDay === 1 }"></div>
          <div id="circle" @click="changeDay('mainStageDay', 2)" class="tab-btn-circle" :class="{ active: mainStageDay === 2 }"></div>
        </div>
        <div class="agenda-tab-dates">
          <div @click="changeDay('mainStageDay', 1)" class="tab-btn" :class="{ active: mainStageDay === 1 }">Day 1</div>
          <div @click="changeDay('mainStageDay', 2)" class="tab-btn" :class="{ active: mainStageDay === 2 }">Day 2</div>
        </div>
      </div>
      <div class="time">
        <div v-if="mainStageDay === 1" class="daytitle">Day 1</div>
        <div v-if="mainStageDay === 2" class="daytitle">Day 2</div>
        <!-- <b>27 TH August</b> -->
      </div>
    </div>
    <div v-if="mainStageDay === 1" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">TIME</div>
        <div class="tr-title">THEME</div>
        <div class="tr-content"></div>
        <div class="tr-speaker">TOPIC</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">08:30-09:30</div>
        <div class="tr-title">
          Opening
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker">
        </div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:00-10:30</div>
        <div class="tr-title">
          The Rising Trend of M&A in Healthcare
        </div>
        <div class="tr-content">
          <!-- The Next Generation of Healthcare -->
        </div>
        <div class="tr-speaker">
          Keynote<br>- Nissim Darvish, M.D., Ph.D.,Senior Managing Director at Orbimed Advisors
          The Rising Trend of M&A in the Life Science Industry
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:50-11:30</div>
        <div class="tr-title">
          Keynote Speech<br><br>Commencing Countdown, Lift Off
        </div>
        <div class="tr-content">
          The Evolution of Healthcare: New Investment Opportunities
        </div>
        <div class="tr-speaker">
          Inside FDA’s Latest Digital Health Developments<br>Speaker: Kazem Kazempour<br><br>
          Transforming Healthcare in USA: Partnership of Foxconn and Advocate Aurora<br>Speaker: Bijoy Khandheria, MD, FASE, FESC, FACC 
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">11:40-12:40</div>
        <div class="tr-title">
          Panel Talk<br><br>The Rising Stars
        </div>
        <div class="tr-content">
          The Intriguing Stories of Forbes 30 Under 30
        </div>
        <div class="tr-speaker">
          Triton: an AI-Enabled Platform for the Operating Room<br>Speaker: Siddarth Satish<br><br>
          My Journey of Exploring the Healthcare Industry: From NYU to Forbes 30 Under 30 Asia<br>Speaker: Melissa Yu<br><br>
          Hospitals and Suppliers: Become a Partner of Choice<br>Speaker: Pelu Tran 
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:40-14:00</div>
        <div class="tr-title">
          Rest and Refuel
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker"></div>
        <div class="tr-toggle">
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:25</div>
        <div class="tr-title">
          Keynote Speech<br><br>Explore the Unknown of the Galaxy: Gene Therapy
        </div>
        <div class="tr-content">
          Decode the Mysteries of the Gene Therapy
        </div>
        <div class="tr-speaker">
          New CRISPR Technologies for Genetic Engineering<br>Speaker: Patrick D. Hsu
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:25-14:50</div>
        <div class="tr-title">
          Keynote Speech<br><br>Navigating an Asteroid Field
        </div>
        <div class="tr-content">
          The Opportunities and Challenges for AI in Healthcare
        </div>
        <div class="tr-speaker">
          The Different Views of Investors, Startups, and Hospitals have on the Booming AI Healthcare Industry<br>Speaker: Pelu Tran
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:00-15:50</div>
        <div class="tr-title">
          Panel Talk<br><br>Beyond the Event Horizon
        </div>
        <div class="tr-content">
          A Black Hole or A Young Star: Blockchain
        </div>
        <div class="tr-speaker">
          How SimplyVital Health Creates Pioneering Solutions Through HIPAA Compliant Blockchain Technology<br>Speaker: Katherine Kuzmeskas<br><br>
          Future Technology Trends in Pharma and Healthcare Industries<br>Speaker: Disa Lee Choun
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:00-16:25</div>
        <div class="tr-title">
          Keynote Speech<br><br>Build a Great Fueling Station in the Space
        </div>
        <div class="tr-content">
          How Fueling Station to Upgrade Your Spaceship
        </div>
        <div class="tr-speaker">
          How Best to Run an Accelerator with Healthcare Startups<br>Speaker: Hong Wa Poon
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:25-16:55</div>
        <div class="tr-title">
          Panel Talk<br><br>
          Tin Can Talk
        </div>
        <div class="tr-content">
          Lighting a Torch to Fuel Innovation
        </div>
        <div class="tr-speaker">
          Corporate Investors in Healthcare Venture<br>Speaker: Christine Guo, Dan Gebremedhin
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
    <div v-if="mainStageDay === 2" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">TIME</div>
        <div class="tr-title">TITLE</div>
        <div class="tr-content"></div>
        <div class="tr-speaker">CONTENT</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:30-10:00</div>
        <div class="tr-title">
          Panel Talk<br><br>Explore the Unknown of the Galaxy: Interoperability
        </div>
        <div class="tr-content">
          How to Get on Track with Interoperability
        </div>
        <div class="tr-speaker">Exploring the Blockchain Application in Healthcare: Data Safety and Interoperability<br>Speaker: Ray-Jade Chen, Yu-Sheng Lo, Jacob Lee</div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:00-10:30</div>
        <div class="tr-title">
          Panel Talk<br><br>Explore the Ancient Planets of the Galaxy: Long-Term Care Industry
        </div>
        <div class="tr-content">
          Look Beyond Aging
        </div>
        <div class="tr-speaker">
          Asia’s Hyper-Aged Society: The Challenges and Opportunities in Long Term Care<br><br>Speaker: Chrissy Wang, Hsin-Ling Tsai, Allen Liu
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:40-12:40</div>
        <div class="tr-title">
          Pitch Competition
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:40-14:00</div>
        <div class="tr-title">
          Refuel and Rest
        </div>
        <div class="tr-content">
        </div>
        <div class="tr-speaker"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:40</div>
        <div class="tr-title">
          Keynote Speech<br><br>Conquer the Universe
        </div>
        <div class="tr-content">
          Key to Build a Successful Startup
        </div>
        <div class="tr-speaker">
          Creating the Healthcare Future: How to Build a Market Leading Healthcare Company that Can Attract Venture Capital<br>Speaker: Dan Gebremedhin<br><br>
          Getting a Medical Robotics Startup Moving<br>Speaker: Colin Tan
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:50-15:50</div>
        <div class="tr-title">
          Panel Talk<br><br>Explore the Unknown of the Galaxy: Artificial Intelligence
        </div>
        <div class="tr-content">
          Achieve Better Healthcare with Artificial Intelligence
        </div>
        <div class="tr-speaker">
          Natural Language Processing for Healthcare<br>Speaker: Leon Bergen<br><br>
          Decode Human Genome with Deep Learning<br>Speaker: Andrew Liu<br><br>
          Deploying Deep Learning Models with GPUs: Best Practices in Healthcare Industry<br>Speaker: Kenneth Ko
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:00-16:45</div>
        <div class="tr-title">
          Keynote Speech<br><br>Explore the Unknown of the Galaxy: Digital Therapeutics
        </div>
        <div class="tr-content">
          Digital Therapeutics: Ready for Takeoff
        </div>
        <div class="tr-speaker">
          Designing Human: Centered Solutions in Digital Health by IDEO<br>Speaker: Pablo Pantaleoni<br><br>
          Doximity: How a Social Network for Doctors is Revolutionizing Healthcare<br>Speaker: Yi-Min Chun<br><br>
          Psychographic Approach to Medication Adherence<br>Speaker: Pei-Shen Wu
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:55-17:35</div>
        <div class="tr-title">
          Keynote Speech<br><br>Upon Earth: View of the Glowing Asian Stars
        </div>
        <div class="tr-content">
          Digital Therapeutics: Ready for Takeoff
        </div>
        <div class="tr-speaker">
          IQGEN’s Vision towards Automating Primary and Secondary Healthcare by Providing Affordable Healthcare to All<br>Speaker: Aman Iqbal<br><br>
          Top Health Industry Issues of 2020 in Asia: Observations about the Healthcare Market in the Future<br>Speaker: Brian Williams
        </div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">17:35-17:50</div>
        <div class="tr-title">
          Closing Remarks<br><br>Let the Ultra-Light Make Everything Ultra-Bright
        </div>
        <div class="tr-content"></div>
        <div class="tr-speaker"></div>
      </div>
    </div>
  </div>
  <div id="creativeStageAgenda" class="agenda-wrap">
    <div class="title">
      <h2>Creative Stage Agenda</h2>
    </div>
    <div class="agenda-tab">
      <div class="agenda-tab-circles-dates">
        <div class="agenda-tab-circles">
          <div id="circle" @click="changeDay('creativeStageDay', 1)" class="tab-btn-circle" :class="{ active: creativeStageDay === 1 }"></div>
          <div id="circle" @click="changeDay('creativeStageDay', 2)" class="tab-btn-circle" :class="{ active: creativeStageDay === 2 }"></div>
        </div>
        <div class="agenda-tab-dates">
          <div @click="changeDay('creativeStageDay', 1)" class="tab-btn" :class="{ active: creativeStageDay === 1 }">Day 1</div>
          <div @click="changeDay('creativeStageDay', 2)" class="tab-btn" :class="{ active: creativeStageDay === 2 }">Day 2</div>
        </div>
      </div>
      <div class="time">
        <div v-if="creativeStageDay === 1" class="daytitle">Day 1</div>
        <div v-if="creativeStageDay === 2" class="daytitle">Day 2</div>
      </div>
    </div>
    <div v-if="creativeStageDay === 1" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">TIME</div>
        <div class="tr-title">TITLE</div>
        <div class="tr-content"></div>
        <div class="tr-speaker">SPEAKER</div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:30-10:40</div>
        <div class="tr-title">
          Welcome Address
        </div>
        <div class="tr-content"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:40-12:40</div>
        <div class="tr-title">
          Asia’s next top startups
        </div>
        <div class="tr-content">Startup Team Competitipn</div>
        <div class="tr-speaker">50+ Worldwide Startup Pitch Decks</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">12:40-14:00</div>
        <div class="tr-title">
          Refuel and Rest
        </div>
        <div class="tr-content"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:40</div>
        <div class="tr-title">
          Let’s Debate<br><br>Do you regret, darling?
        </div>
        <div class="tr-content">Round 1<br>“Do I really have to be a doctor?”</div>
        <div class="tr-speaker">Stanley Huang<br>Pei-Chen Lin</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:50-15:10</div>
        <div class="tr-title">
          Keynote speech<br><br>
          A Different Orbit Trajectory: <br>The Different Possibilities for Medical School Students
        </div>
        <div class="tr-content">“Hey bro, what are you up to?”</div>
        <div class="tr-speaker">Shih-Ming Chu</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:20 - 16:00</div>
        <div class="tr-title">
          Let’s Debate<br><br>Do you regret, darling?
        </div>
        <div class="tr-content">Round 2<br>“So, how's life as a Life Science graduate?”</div>
        <div class="tr-speaker">Yung-Cheng Shin<br>William Hu</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:20 - 17:00</div>
        <div class="tr-title">
          Interstellar Medical Knowledge Quiz
        </div>
        <div class="tr-content"></div>
        <div class="tr-speaker"></div>
      </div>
    </div>
    <div v-if="creativeStageDay === 2" class="agenda-table">
      <div class="agenda-tr th">
        <div class="tr-time">TIME</div>
        <div class="tr-title">TITLE</div>
        <div class="tr-content"></div>
        <div class="tr-speaker"></div>
        <div class="tr-toggle"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">09:50-10:00</div>
        <div class="tr-title">
          Welcome Address
        </div>
        <div class="tr-content"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">10:00-13:00</div>
        <div class="tr-title">
          Workshop<br>Call from Outer Space
        </div>
        <div class="tr-content">
          “Dear future me…”
        </div>
        <!-- <div class="tr-speaker"></div> -->
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">13:00-14:00</div>
        <div class="tr-title">
          Refuel and Rest
        </div>
        <div class="tr-content"></div>
        <div class="tr-speaker"></div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:00-14:40</div>
        <div class="tr-title">
          Let’s Debate<br><br>Do you regret, darling?
        </div>
        <div class="tr-content">Round 3<br>“What do you know about Chinese medicine?”</div>
        <div class="tr-speaker">Ming-Yuan Huang<br>Yueh-Feng Hsieh</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">14:50-15:20</div>
        <div class="tr-title">
          Keynote Speech<br><br>A Dialogue Between the Present and the Past of Medicine
        </div>
        <div class="tr-content">“Is gua sha legit?”</div>
        <div class="tr-speaker">Cara Huang</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">15:40-16:20</div>
        <div class="tr-title">
          Star Wars
        </div>
        <div class="tr-content">Healthcare Startup Lightning Round</div>
        <!-- <div class="tr-speaker"></div> -->
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
      <div class="agenda-tr">
        <div class="tr-time">16:30-17:00</div>
        <div class="tr-title">
          Keynote Speech<br><br>Patient Counterstrike
        </div>
        <div class="tr-content">“Hey Doc! I got something to say!”</div>
        <div class="tr-speaker">Ani Hsieh</div>
        <div class="tr-toggle">
          <button class="toggle-button" type="button" @click="toggle($event)">+</button>
        </div>
      </div>
    </div>
  </div>
</div>