<div class="pic1 img-bg-cover" style="height: 300px;"></div>
<div id="for_wrapper_bg">
  <div class="wrapper faq">
    <div class="main_title" style="marin:10vw;"><b>FAQ</b></div>
    <div class="FAQTitle">
      <B>1 . GENERAL</B>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><title>資產 2</title><g id="圖層_2" data-name="圖層 2"><g id="圖層_1-2" data-name="圖層 1"><path d="M12.07,1.7A1.59,1.59,0,0,0,10.51,0H1.68A1.69,1.69,0,0,0,0,1.7v9c0,.94.75,1.39,1.68,1.39h8.84c.93,0,1.56-.45,1.56-1.39Z"/><path d="M12.07,15.32c0-.94-.63-1.39-1.56-1.39H1.68c-.93,0-1.68.45-1.68,1.39v9A1.69,1.69,0,0,0,1.68,26h8.84a1.59,1.59,0,0,0,1.56-1.7Z"/><path d="M26,15.32c0-.94-.75-1.39-1.68-1.39H15.49c-.93,0-1.56.45-1.56,1.39v9A1.6,1.6,0,0,0,15.49,26h8.84A1.69,1.69,0,0,0,26,24.3Z"/><path d="M26,1.7A1.69,1.69,0,0,0,24.32,0H15.49a1.59,1.59,0,0,0-1.56,1.7v9c0,.94.63,1.39,1.56,1.39h8.84c.93,0,1.68-.45,1.68-1.39Z"/></g></g></svg>
    </div>
    <div class="faq_border">
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          1-1 What is TRANS about?
        </div>
        <div class="faq-a">
          <p>Our vision is to provide a platform for healthcare founders, investors, students and professionals to meet and connect in Asia’s industry hotspot.</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          1-2 When is TRANS?
        </div>
        <div class="faq-a">
          <p>29-30 JUNE, 2019.</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          1-3 Where is TRANS?
        </div>
        <div class="faq-a">
          <p>Taipei World Trade Center Exhibition Hall / No. 5, Section 5, Xinyi Road, Xinyi District, Taipei City.<br>Transportation guide:
          Take MRT Red line to 【Taipei 101/World Trade Center】 Station, take Exit 1, and walk two minutes.</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          1-4 Who are welcomed to attend TRANS?
        </div>
        <div class="faq-a">
          <p>Startup founders, entrepreneurs, investors and anyone interested in the healthcare field are welcomed.</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          1-5 Where can I see photographs from previous years?
        </div>
        <div class="faq-a">
          <p>H.Spectrum Album (<a style="color: #26cad3;" href="https://www.flickr.com/photos/145757016@N03/albums" target="_blank"><u>https://www.flickr.com/photos/145757016@N03/albums</u></a>)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper faq" style="margin-bottom:20vh;">
    <div class="FAQTitle ticket">
      <B>2 . TICKETS</B>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.83 18.95"><title>資產 1</title><g id="圖層_2" data-name="圖層 2"><g id="圖層_1-2" data-name="圖層 1"><path d="M23.32,8.17a2.5,2.5,0,0,0,2.8,2.15l.71,5.36L2.07,19l-.71-5.36a2.5,2.5,0,0,0-.65-5L0,3.27,24.76,0l.71,5.36A2.5,2.5,0,0,0,23.32,8.17Z"/></g></g></svg>
    </div>
    <div class="faq_border">
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-1 What does the ticket include?
        </div>
        <div class="faq-a">
          <p>With the ticket, you can participate in all the activities in TRANS, including Keynote Speeches, Panel Talks and Booth Alley.</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-2 How much is the ticket?
        </div>
        <div class="faq-a">
          <p><a href="<%= register_path %>" style="color: #26cad3;" target="_blank"><u>REGISTER NOW</u></a></p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-3 Where can I purchase tickets?
        </div>
        <div class="faq-a">
          <p><a href="<%= register_path %>" style="color: #26cad3;" target="_blank"><u>REGISTER NOW</u></a></p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-4 How to pay for the ticket?
        </div>
        <div class="faq-a">
          <p>
            (1) Credit Card ─ VISA/Master/JCB/Union Pay<br>
            (2) LINE Pay<br>
            (3) ATM Transfer<br>
            (4) Family Mart Payment-FamiPort Code
          </p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-5 Do we have the deadline of the ticket payment?
        </div>
        <div class="faq-a">
          <p>You have two days paying for the tickets. After two days, you need to order the ticket again.</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-6 Can I ask for receipt or tax ID when purchasing the ticket?
        </div>
        <div class="faq-a">
          <p>Yes, please fill in the requests when you register for TRANS.</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-7 How to get the ticket after purchasing?
        </div>
        <div class="faq-a">
          <p>
            (1) Sign in <a target="_blank" style="color: #26cad3;" href="https://www.accupass.com/"><u>ACCUPASS</u></a>, search ”My Tickets”, and you can see the ticket.<br>
            (2) You will get a SMS, click the website included and you can get the ticket.<br>
            (3) Get the ticket via Email.<br>
          </p>
       </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-8 How can I confirm that I register successfully?
        </div>
        <div class="faq-a">
          <p>After you successfully register for TRANS, you will receive the e-ticket via Email and SMS.</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-9 How to register for TRANS?
        </div>
        <div class="faq-a">
          <p>At the reception, show us your ticket (QR code) and you can enjoy TRANS!</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-10 How many tickets can I buy at a time?
        </div>
        <div class="faq-a">
          <p>You can buy up to ten tickets in one purchase.</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-11 Is the ticket transferable?
        </div>
        <div class="faq-a">
          <p>Yes, you can transfer by yourself.</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-12 Can I get refund the ticket?
        </div>
        <div class="faq-a">
          <p>No, please transfer the ticket to your friend interested in TRANS.</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-13 Does the ticket include lunch or dinner?
        </div>
        <div class="faq-a">
          <p>No, but we offer food map of the neighborhood close to the venue for you to go on a cuisine journey!</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-14 If I am not local, how can I pay for the ticket?
        </div>
        <div class="faq-a">
          <p>You can pay for the ticket with credit cards. Please be reminded that different banks may ask for different charges.</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-15 If I am not local, can I ask for assistance on booking the flight to Taiwan?
        </div>
        <div class="faq-a">
          <p>Unfortunately, booking flight tickets is not in the area of our assistance.</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-16 If I am not local, can I ask for an official invitation?
        </div>
        <div class="faq-a">
          <p>Please send us an Email (trans.ticket@ylhealth.org) and give us your request.</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-17 If I am not local, can you help me book the accommodation?
        </div>
        <div class="faq-a">
          <p>We recommend Grand Hyatt Taipei with you but you will have to book it by yourself. (<a style="color: #26cad3;" href="https://www.hyatt.com/en-US/hotel/taiwan/grand-hyatt-taipei/taigh" target="_blank"><u>https://www.hyatt.com/en-US/hotel/taiwan/grand-hyatt-taipei/taigh</u></a>)</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-18 If there are any other questions, 
        </div>
        <div class="faq-a">
          <p>Please send an Email to trans.ticket@ylhealth.org.</p>
        </div>
      </div>
    </div>
  </div>
</div>