<div class="pic1 img-bg-cover" style="height: 300px;"></div>
<div id="for_wrapper_bg">
  <div class="wrapper faq">
    <div class="main_title" style="marin:10vw;"><b>FAQ</b></div>
    <div class="FAQTitle">
      <B>1 . 一般</B>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><title>資產 2</title><g id="圖層_2" data-name="圖層 2"><g id="圖層_1-2" data-name="圖層 1"><path d="M12.07,1.7A1.59,1.59,0,0,0,10.51,0H1.68A1.69,1.69,0,0,0,0,1.7v9c0,.94.75,1.39,1.68,1.39h8.84c.93,0,1.56-.45,1.56-1.39Z"/><path d="M12.07,15.32c0-.94-.63-1.39-1.56-1.39H1.68c-.93,0-1.68.45-1.68,1.39v9A1.69,1.69,0,0,0,1.68,26h8.84a1.59,1.59,0,0,0,1.56-1.7Z"/><path d="M26,15.32c0-.94-.75-1.39-1.68-1.39H15.49c-.93,0-1.56.45-1.56,1.39v9A1.6,1.6,0,0,0,15.49,26h8.84A1.69,1.69,0,0,0,26,24.3Z"/><path d="M26,1.7A1.69,1.69,0,0,0,24.32,0H15.49a1.59,1.59,0,0,0-1.56,1.7v9c0,.94.63,1.39,1.56,1.39h8.84c.93,0,1.68-.45,1.68-1.39Z"/></g></g></svg>
    </div>
    <div class="faq_border">
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          1-1 TRANS是什麼？
        </div>
        <div class="faq-a">
          <p>我們致力於提供生醫領域的創業家、投資者、學生以及專業人士一個交流連結的平台。</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          1-2 TRANS舉辦的時間？
        </div>
        <div class="faq-a">
          <p>2018年9月8至9日</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          1-3 TRANS在哪裡？
        </div>
        <div class="faq-a">
          <p>松山文創園區，臺北市信義區光復南路133號。<br>你可以搭乘捷運板南線（藍）至捷運國父紀念館站，從五號出口出站，沿光復南路步行至菸廠路(市民大道、光復南路口)約550公尺。</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          1-4 TRANS的參與者？
        </div>
        <div class="faq-a">
          <p>新創團隊、企業者、投資者與任何對於生醫領域有興趣都歡迎一同參與。</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          1-5 哪裡可以欣賞去年的照片？
        </div>
        <div class="faq-a" style="color: #26cad3;">
          <p><a href="https://www.flickr.com/photos/145757016@N03/albums" target="_blank"><u>這裡.</u></a></p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          1-6 請問活動都是英文嗎，會不會有語言不通的問題？
        </div>
        <div class="faq-a">
          <p>現場將提供同步口譯機，即時的中文翻譯與您一同參與精彩的論壇內容。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper faq" style="margin-bottom:20vh;">
    <div class="FAQTitle ticket">
      <B>2 . 票務</B>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.83 18.95"><title>資產 1</title><g id="圖層_2" data-name="圖層 2"><g id="圖層_1-2" data-name="圖層 1"><path d="M23.32,8.17a2.5,2.5,0,0,0,2.8,2.15l.71,5.36L2.07,19l-.71-5.36a2.5,2.5,0,0,0-.65-5L0,3.27,24.76,0l.71,5.36A2.5,2.5,0,0,0,23.32,8.17Z"/></g></g></svg>
    </div>
    <div class="faq_border">
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-1 門票包含哪些內容？
        </div>
        <div class="faq-a">
          <p>您將可參加TRANS所有專題演講、座談會、新創團隊攤位，等無價的收穫與歡樂！</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-2 票價是多少？
        </div>
        <div class="faq-a">
          <p><a href="<%= register_path %>" style="color: #26cad3;" target="_blank"><u>詳細票價請點擊</u></a></p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-3 如何購票？
        </div>
        <div class="faq-a">
          <p>進入KKTIX網頁，即可以開始報名購票。<a style="color: #26cad3; text-decoration: underline;" href="https://hspectrum.kktix.cc/events/trans2018" target="_blank">點擊</a></p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-4 如何付款？
        </div>
        <div class="faq-a">
          <p>
            (1) 信用卡─ VISA/Master/JCB<br>
            (2) PayPal<br>
            (3) ATM轉帳虛擬帳號<br>
            (4) 超商代碼─ FamiPort Code
          </p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-5 購票付款有期限嗎？
        </div>
        <div class="faq-a">
          <p>每一筆訂單有2日付款期限，逾期訂單將失效，您可以重新訂購。</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-6 購票可以索取統一發票或打統編嗎？
        </div>
        <div class="faq-a">
          <p>可以，請在購票時填寫發票抬頭與統編，並留下統一編號。</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-7 如何取票？
        </div>
        <div class="faq-a">
          <p>
            購票成功後，您有以下方式取得票券(擇一即可)<br>
            (1) 登入KKTIX系統(APP/網頁皆可)，點選「我的票券」，將出現您的票券內容<br>
            (2) 電子信箱取票<br>
          </p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-8 該如何確認報名成功？
        </div>
        <div class="faq-a">
          <p>報名成功後，您將會收到系統寄送之電子票券。</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-9 當天如何報到？
        </div>
        <div class="faq-a">
          <p>於活動當天出示您的電子票券，供工作人員驗票即可入場。</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-10 一次可以購買幾張票？
        </div>
        <div class="faq-a">
          <p>每人每次最多購買10張票。</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-11 票券可以轉讓嗎？
        </div>
        <div class="faq-a">
          <p>可以，請通知我們，並告知轉讓對象相關資訊(姓名	電子郵件、行動電話、服務單位、職稱、國籍、產業領域)
          。TRANS客服信箱：trans.ticket@ylhealth.org</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-12 可以退票嗎？
        </div>
        <div class="faq-a">
          <p>不可以。歡迎轉讓給有興趣的朋友。</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-13 請問票價有含餐費嗎？
        </div>
        <div class="faq-a">
          <p>餐點須請您自理，將提供附近美食地圖供參考。</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-14 我不是台灣人，請問我如何付款？
        </div>
        <div class="faq-a">
          <p>您可透過各大信用卡付款，提醒您各發卡銀行可能收取相對應之手續費。</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-15 我不是台灣人，請問可以協助我處理機票問題嗎？
        </div>
        <div class="faq-a">
          <p>機票須請您自理。</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-16 我不是台灣人，請問可以申請一份官方邀請函嗎？
        </div>
        <div class="faq-a">
          <p>請來信告知需求。TRANS客服信箱：trans.ticket@ylhealth.org</p>
        </div>
      </div>
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-17 我不是台灣人，請問可以協助我處理住宿問題嗎？ 
        </div>
        <div class="faq-a">
          <p>機票需請您自理。附近飯店供參考：<br>
          台北馥敦飯店南京館：http://www.taipeifullerton.com.tw/nanjing/mobile/index.html<br>
          台北國聯大飯店：http://www.unitedhotel.com.tw/index_mobile.php<br>
          </p>
        </div>
      </div>
      
      <div class="faq-c">
        <div class="faq-q">
          <span class="faq-t"><B>></B></span>
          2-18 若有任何其他疑問
        </div>
        <div class="faq-a">
          <p>歡迎來信TRANS客服信箱：trans.ticket@ylhealth.org</p>
        </div>
      </div>
    </div>
  </div>
</div>