<div class="wrap">
  <section class="home-main">
    <div class="home-main__text-in-water"></div>
    <div class="home-main__water"></div>
  </section>
</div>
<script>
  document.addEventListener('turbolinks:load', () => {
  	
  })
  
</script>