<div class="wrap">
  <section id="index-bg">
  	<ul class="slider">
  		<li class="index-bg1"></li>
  		<li class="index-bg2">
  			<img src="/assets/img/index/w325px.svg" style="width: 325px;" class="v-center-transform">
  		</li>
  		<li class="index-bg3"></li>
  		<li class="index-bg4"></li>
  	</ul>
  	<!-- <div class="v-center">
  		<h1>Example Title</h1>
  		<p>this is a great title.</p>
  	</div> -->
  </section>
</div>
<script>
  document.addEventListener('turbolinks:load', () => {

    let w = $(window).width()
    console.log(w)
    if ( w <= 768 ) {
      $('#videoBg').remove()
    }

  })
</script>