<div class="wrap">
  <section id="indexBg">
  	<ul class="slider">
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  	</ul>
  	<div class="v-center">
  		<h1>Example Title</h1>
  		<p>this is a great title.</p>
  	</div>
  </section>
</div>
<script>
  document.addEventListener('turbolinks:load', () => {

    let w = $(window).width()
    console.log(w)
    if ( w <= 768 ) {
      $('#videoBg').remove()
    }

  })
</script>