<div class="pic1 img-bg-cover" style="background-image: url('/assets/img/register/購票大圖.png'); background-position: center 60%;"></div>
<div class="wrapper register">
  <div class="main_title"><b>Register Now</b></div>
  <div id="register_link" class="register_float_btn hidden-xs" >
 	 	<a href="http://www.accupass.com/go/2017TRANS"><b>REGISTER<br>
  	NOW</b>
  	</a>
  </div>
  <div class="col-sm-12 register_bg" style="margin-top:-20px;">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1">
        <div class="top">
        	<div class="top_title hidden-xs">
            <img src="/assets/img/register/購票資訊.svg">
        	</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="register_title hidden-xs">
          專業人士 / 企業代表 / 一般民眾 購票資訊
        </div>
        <div class="visible-xs" align="center">
          <h3 style="font-size:20px; width: 81%; font-family: $p400;">專業人士 / 企業代表 / 一般民眾 購票資訊</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="register-table hidden-xs">
        	<div class="tr th">
        		<div class="tr-sale"></div>
        		<div class="tr-name">票種名稱</div>
            <div class="tr-origin">原價票價</div>
            <div class="tr-price" style="padding-left: 3%;">早鳥票價</div>
    			</div>
          <div class="tr">
            <div class="tr-sale"></div>
            <div class="tr-name">一般票</div>
            <div class="tr-origin">
              1500
              <div class="currency">
              NTD
              </div>
            </div>
            <div class="tr-pirce">
              1200
              <div class="currency">
              NTD
              </div>
            </div>
          </div>
          <div class="tr">
            <div class="tr-sale"><img src="/assets/img/register/10off.svg" style="box-shadow: 0 0 0 0;"></div>
            <div class="tr-name">團體票（2人）</div>
            <div class="tr-origin">
              1350
              <div class="currency">
              NTD
              </div>
            </div>
            <div class="tr-pirce">
              1080
              <div class="currency">
              NTD
              </div>
            </div>
          </div>
    		</div>
        <!--mobile table-->
        <div class="visible-xs" style="padding-top:20px;">
          <table class="table table-custom">
            <tr>
              <td class="headcell"><strong>票種名稱</strong></td>
              <td align="right" class="headcell"><strong>原價票價</strong></td>
              <td align="right" class="headcell"><strong>早鳥票價</strong></td>
            </tr>
            <tr>

              <td class="bodycell"><strong>一般票</strong></td>
              <td align="right" class="bodycell mobile-price">
                1500 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price">
                1200 <small>NTD</small>
              </td>
            </tr>
            <tr>
              
              <td class="bodycell"><strong>團體票 (2人)</strong><img src="/assets/img/register/10off.svg" style="width:35px;margin: 2% 0 0 6%;"></td>
              <td align="right" class="bodycell mobile-price">
                1350 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price">
                1080 <small>NTD</small>
              </td>
            </tr>
          </table>
          <div class="col-sm-12" align="center">
            <div class="register_mobile_btn visible-xs">
              <a href="http://www.accupass.com/go/2017TRANS">REGISTER NOW →</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="register_title hidden-xs">
          學生 購票資訊
        </div>
        <div class="visible-xs" align="center">
          <h3 style="font-size:21px;font-weight:500;padding-top:120px;">學生 購票資訊</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="register-table hidden-xs">
        	<div class="tr th">
        		<div class="tr-sale"></div>
        		<div class="tr-name">票種名稱</div>
        		<div class="tr-origin">原價票價</div>
    				<div class="tr-price" style="padding-left: 3%;">早鳥票價</div>
    			</div>
    			<div class="tr">
    				<div class="tr-sale"></div>
    				<div class="tr-name">一般票</div>
    				<div class="tr-origin">
    					800
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    				<div class="tr-pirce">
    					500
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    			</div>
    			<div class="tr">
    				<div class="tr-sale"><img src="/assets/img/register/40off.svg"></div>
    				<div class="tr-name">團體票（10人）</div>
    				<div class="tr-origin">
    					480
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    				<div class="tr-pirce">
    					300
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    			</div>
    			<div class="tr">
    				<div class="tr-sale"><img src="/assets/img/register/20off.svg"></div>
    				<div class="tr-name">團體票（5人）</div>
    				<div class="tr-origin">
    					640
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    				<div class="tr-pirce">
    					400
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    			</div>
    			<div class="tr">
    				<div class="tr-sale"><img src="/assets/img/register/10off.svg" style="box-shadow: 0 0 0 0;"></div>
    				<div class="tr-name">團體票（2人）</div>
    				<div class="tr-origin">
    					720
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    				<div class="tr-pirce">
    					450
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    			</div>
    		</div>

        <!--mobile table-->
        <div class="visible-xs" style="padding-top:20px;">
          <table class="table table-custom">
            <tr>
             
              <td class="headcell"><strong>票種名稱</strong></td>
              <td align="right" class="headcell"><strong>原價票價</strong></td>
              <td align="right" class="headcell"><strong>早鳥票價</strong></td>
            </tr>
            <tr>

              <td class="bodycell"><strong>一般票</strong></td>
              <td align="right" class="bodycell mobile-price">
                800 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price">
                500 <small>NTD</small>
              </td>
            </tr>
            <tr>
              
              <td class="bodycell"><strong>團體票 (10人)</strong><img src="/assets/img/register/40off.svg" style="width:35px;margin: 2% 0 0 6%;"></td>
              <td align="right" class="bodycell mobile-price">
                480 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price">
                300 <small>NTD</small>
              </td>
            </tr>
            <tr>
              
              <td class="bodycell"><strong>團體票 (5人)</strong> <img src="/assets/img/register/20off.svg" style="width:35px;margin: 2% 0 0 7%;"></td>
              <td align="right" class="bodycell mobile-price">
                640 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price">
                400 <small>NTD</small>
              </td>
            </tr>
            <tr>
           
              <td class="bodycell"><strong>團體票 (2人)</strong><img src="/assets/img/register/10off.svg" style="width:35px;margin: 2% 0 0 10%;"></td>
              <td align="right" class="bodycell mobile-price">
                720 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price">
                450 <small>NTD</small>
              </td>
            </tr>
          </table>
          <div class="col-sm-12" align="center">
            <div class="register_mobile_btn visible-xs">
              <a href="http://www.accupass.com/go/2017TRANS">REGISTER NOW →</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="register_title hidden-xs">
          投資人 vc 購票資訊
        </div>
        <div class="visible-xs" align="center">
          <h3 style="font-size:21px;font-weight:500;padding-top:120px;">投資人 vc 購票資訊</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="register-table hidden-xs">
        	<div class="tr th">
        		<div class="tr-sale"></div>
      			<div class="tr-name">票種名稱</div>
        		<div class="tr-origin">原價票價</div>
    				<div class="tr-price" style="padding-left: 3%;">早鳥票價</div>
    			</div>
    			<div class="tr">
    				<div class="tr-sale"></div>
    				<div class="tr-name">一般票</div>
    				<div class="tr-origin">
    					2,500
    					<div class="currency">
    						NTD
    					</div>
    				</div>
    				<div class="tr-pirce">
    					2,200
    					<div class="currency">
    						NTD
    					</div>
    				</div>
    			</div>
        </div><!--end table-->

        <div class="">
          <!--mobile table-->
          <div class="visible-xs" style="padding-top:20px;">
            <table class="table table-custom">
              <tr>
               
                <td class="headcell"><strong>票種名稱</strong></td>
                <td align="right" class="headcell"><strong>原價票價</strong></td>
                <td align="right" class="headcell"><strong>早鳥票價</strong></td>
              </tr>
              <tr>
               
                <td class="bodycell"><strong>一般票</strong></td>
                <td align="right" class="bodycell mobile-price">
                  2,500 <small>NTD</small>
                </td>
                <td align="right" class="bodycell mobile-price">
                  2,200 <small>NTD</small>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-sm-12" align="center">
            <div class="register_mobile_btn visible-xs">
              <a href="http://www.accupass.com/go/2017TRANS">REGISTER NOW →</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
    		<div class="register2_btn hidden-xs">
    			<a href="http://www.accupass.com/go/2017TRANS/">REGISTER NOW →</a>
    		</div>
      </div>
    </div>
	</div>
</div>
<div class="row">
  <div class="col-sm-12">
    <footer id="footer"></footer>
  </div>
</div>