<div class="pic1 img-bg-cover" style="background-image: url('/img/2019/register/banner.jpg'); background-position: -34px -7px; background-size: 115%;"></div>
<div class="wrapper register">
  <div class="main_title"><b>Register Now</b></div>
  <div id="register_link" class="register_float_btn hidden-xs" >
 	 	<a href="https://hspectrum.kktix.cc/events/trans2018" target="_blank"><b>REGISTER<br>
  	NOW</b>
  	</a>
  </div>
  <div class="col-sm-12 register_bg" style="margin-top:-20px;">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1">
        <div class="top">
          <div class="top_title hidden-xs">
            <span class="bold_title">2019.JUNE.29-30</span><br>
            <span class="outline_title">TRANSFORMING HEALTHCARE TRANSCENDING LIMITS</span><br>
            <span class="bold_title">TAIPEI WORLDTRADE CENTER EXHIBITION HALL 1</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="register_title hidden-xs">
           Attendee  Ticket Info.
        </div>
        <div class="visible-xs" align="center">
          <h3 style="font-size:20px; width: 81%; font-family: $p400;">Professional / Corporate / Attendee  Ticket Info.</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="register-table hidden-xs">
        	<div class="tr th">
        		<div class="tr-sale">Ticket</div>
        		<div class="tr-name">Type</div>
            <div class="tr-origin" style="padding-left:2%;">Price</div>
            <div class="tr-price" style="padding-left: 7%;">Early Bird</div>
    			</div>
          <div class="tr">
            <div class="tr-sale">Student ticket</div>
            <div class="tr-name">Single Ticket</div>
            <div class="tr-origin">
              1500
              <div class="currency">
              NTD
              </div>
            </div>
            <div class="tr-pirce">
              1200
              <div class="currency">
              NTD
              </div>
            </div>
          </div>
          <div class="tr">
            <div class="tr-sale"></div>
            <div class="tr-name">A pair of tickets</div>
            <div class="tr-origin">
              1500
              <div class="currency">
              NTD
              </div>
            </div>
            <div class="tr-pirce">
              1200
              <div class="currency">
              NTD
              </div>
            </div>
          </div>
          <div class="tr">
            <div class="tr-sale"></div>
            <div class="tr-name">Group of 10 tickets</div>
            <div class="tr-origin">
              1500
              <div class="currency">
              NTD
              </div>
            </div>
            <div class="tr-pirce">
              1200
              <div class="currency">
              NTD
              </div>
            </div>
          </div>
          <div class="tr">
            <div class="tr-sale"><img src="/img/register/10off.svg" style="box-shadow: 0 0 0 0;"></div>
            <div class="tr-name">A Pair of tickets</div>
            <div class="tr-origin">
              1350
              <div class="currency">
              NTD
              </div>
            </div>
            <div class="tr-pirce">
              1080
              <div class="currency">
              NTD
              </div>
            </div>
          </div>
    		</div>
        <!--mobile table-->
        <div class="visible-xs" style="padding-top:20px;">
          <table class="table table-custom">
            <tr>
             
              <td class="headcell"><strong>Ticket</strong></td>
              <td align="right" class="headcell" style="min-width: 76px;"><strong>Price</strong></td>
              <td align="right" class="headcell" style="min-width: 76px;"><strong>Early Bird</strong></td>
            </tr>
            <tr>

              <td class="bodycell"><strong>General ticket</strong></td>
              <td align="right" class="bodycell mobile-price">
                1500 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price">
                1200 <small>NTD</small>
              </td>
            </tr>
            <tr>
              
              <td class="bodycell"><strong>A Pair of tickets</strong><img src="/img/register/10off.svg" style="width:35px;margin: 2% 0 0 6%;"></td>
              <td align="right" class="bodycell mobile-price">
                1350 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price">
                1080 <small>NTD</small>
              </td>
            </tr>
          </table>
          <div class="col-sm-12" align="center">
            <div class="register_mobile_btn visible-xs">
              <a href="https://hspectrum.kktix.cc/events/trans2018" target="_blank">REGISTER NOW →</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="register_title hidden-xs">
          Student Ticket Info.
        </div>
        <div class="visible-xs" align="center">
          <h3 style="font-size:21px;font-weight:500;padding-top:120px;">Student Ticket Info.</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="register-table hidden-xs">
        	<div class="tr th">
        		<div class="tr-sale"></div>
        		<div class="tr-name">Ticket</div>
        		<div class="tr-origin" style="padding-left:2%;">Price</div>
    				<div class="tr-price" style="padding-left: 7%;">Early Bird</div>
    			</div>
    			<div class="tr">
    				<div class="tr-sale"></div>
    				<div class="tr-name">General ticket</div>
    				<div class="tr-origin">
    					800
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    				<div class="tr-pirce">
    					500
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    			</div>
    			<div class="tr">
    				<div class="tr-sale"><img src="/img/register/40off.svg"></div>
    				<div class="tr-name">Group of 10 tickets</div>
    				<div class="tr-origin">
    					480
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    				<div class="tr-pirce">
    					300
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    			</div>
    			<div class="tr">
    				<div class="tr-sale"><img src="/img/register/20off.svg"></div>
    				<div class="tr-name">Group of 5 tickets</div>
    				<div class="tr-origin">
    					640
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    				<div class="tr-pirce">
    					400
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    			</div>
    			<div class="tr">
    				<div class="tr-sale"><img src="/img/register/10off.svg" style="box-shadow: 0 0 0 0;"></div>
    				<div class="tr-name">A Pair of tickets</div>
    				<div class="tr-origin">
    					720
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    				<div class="tr-pirce">
    					450
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    			</div>
    		</div>

        <!--mobile table-->
        <div class="visible-xs" style="padding-top:20px;">
          <table class="table table-custom">
            <tr>
             
              <td class="headcell"><strong>Ticket</strong></td>
              <td align="right" class="headcell" style="min-width: 76px;"><strong>Price</strong></td>
              <td align="right" class="headcell" style="min-width: 76px;"><strong>Early Bird</strong></td>
            </tr>
            <tr>

              <td class="bodycell"><strong>General ticket</strong></td>
              <td align="right" class="bodycell mobile-price">
                800 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price">
                500 <small>NTD</small>
              </td>
            </tr>
            <tr>
              
              <td class="bodycell"><strong>Group of 10 tickets</strong><img src="/img/register/40off.svg" style="width:35px;margin: 2% 0 0 6%;"></td>
              <td align="right" class="bodycell mobile-price">
                480 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price">
                300 <small>NTD</small>
              </td>
            </tr>
            <tr>
              
              <td class="bodycell"><strong>Group of 5 tickets</strong> <img src="/img/register/20off.svg" style="width:35px;margin: 2% 0 0 7%;"></td>
              <td align="right" class="bodycell mobile-price">
                640 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price">
                400 <small>NTD</small>
              </td>
            </tr>
            <tr>
           
              <td class="bodycell"><strong>A Pair of tickets</strong><img src="/img/register/10off.svg" style="width:35px;margin: 2% 0 0 10%;"></td>
              <td align="right" class="bodycell mobile-price">
                720 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price">
                450 <small>NTD</small>
              </td>
            </tr>
          </table>
          <div class="col-sm-12" align="center">
            <div class="register_mobile_btn visible-xs">
              <a href="https://hspectrum.kktix.cc/events/trans2018" target="_blank">REGISTER NOW →</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="register_title hidden-xs">
          Investor Ticket Info.
        </div>
        <div class="visible-xs" align="center">
          <h3 style="font-size:21px;font-weight:500;padding-top:120px;">Investor Ticket Info.</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="register-table hidden-xs">
        	<div class="tr th">
        		<div class="tr-sale"></div>
      			<div class="tr-name">Ticket</div>
        		<div class="tr-origin" style="padding-left: 3%;">Price</div>
    				<div class="tr-price" style="padding-left: 7%;">Early Bird</div>
    			</div>
    			<div class="tr">
    				<div class="tr-sale"></div>
    				<div class="tr-name">General ticket</div>
    				<div class="tr-origin">
    					2,500
    					<div class="currency">
    						NTD
    					</div>
    				</div>
    				<div class="tr-pirce">
    					2,200
    					<div class="currency">
    						NTD
    					</div>
    				</div>
    			</div>
        </div><!--end table-->

        <div class="">
          <!--mobile table-->
          <div class="visible-xs" style="padding-top:20px;">
            <table class="table table-custom">
              <tr>
               
                <td class="headcell"><strong>Ticket</strong></td>
                <td align="right" class="headcell"><strong>Price</strong></td>
                <td align="right" class="headcell"><strong>Early Bird</strong></td>
              </tr>
              <tr>
               
                <td class="bodycell"><strong>General ticket</strong></td>
                <td align="right" class="bodycell mobile-price">
                  2,500 <small>NTD</small>
                </td>
                <td align="right" class="bodycell mobile-price">
                  2,200 <small>NTD</small>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-sm-12" align="center">
            <div class="register_mobile_btn visible-xs">
              <a href="https://hspectrum.kktix.cc/events/trans2018" target="_blank">REGISTER NOW →</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
    		<div class="register2_btn hidden-xs">
    			<a href="https://hspectrum.kktix.cc/events/trans2018" target="_blank">REGISTER NOW →</a>
    		</div>
      </div>
    </div>
	</div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= render "common/footer" %>
  </div>
</div>