<div class="pic1 img-bg-cover register_banner"></div>
<div class="wrapper register">
  <div class="main_title"><b>Register Now</b></div>
  <!-- <div id="register_link" class="register_float_btn hidden-xs" >
 	 	<a href="https://hspectrum.kktix.cc/events/trans2018" target="_blank"><b>REGISTER<br>
  	NOW</b>
  	</a>
  </div> -->
  <div class="col-sm-12 register_bg" style="margin-top:-20px;">
    <div class="top">
      <div class="top_title hidden-xs">
        <span class="bold_title">2019.JUNE.29-30</span><br>
        <span class="outline_title">TRANSFORMING HEALTHCARE TRANSCENDING LIMITS</span><br>
        <span class="bold_title">TAIPEI WORLDTRADE CENTER EXHIBITION HALL 1</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="register_title hidden-xs text-center">
          Attendee Ticket Info.
        </div>
        <div class="visible-xs" align="center">
          <h3 style="font-size:20px; width: 81%; font-family: $p400;">Attendee  Ticket Info.</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="register-table hidden-xs">
        	<div class="tr th">
        		<!-- <div class="tr-sale">Ticket</div> -->
        		<div class="tr-name" style="font-weight: bold;">
              <div class="discount-label">0% off</div>
              Student Ticket
            </div>
            <div class="tr-origin">
              <div class="discount-label">0% off</div>
              Price
            </div>
            <div class="tr-price">
              <div class="discount-label visible">37% off</div>
              Early Bird
            </div>
    			</div>
          <div class="tr">
            <!-- <div class="tr-sale">Student ticket</div> -->
            <div class="tr-name">Single Ticket</div>
            <div class="tr-origin">
              800
              <div class="currency">
              NTD
              </div>
            </div>
            <div class="tr-pirce">
              500
              <div class="currency">
              NTD
              </div>
            </div>
          </div>
          <div class="tr">
            <!-- <div class="tr-sale"></div> -->
            <div class="tr-name">A pair of tickets</div>
            <div class="tr-origin">
              720
              <div class="currency">
              NTD
              </div>
            </div>
            <div class="tr-pirce">
              450
              <div class="currency">
              NTD
              </div>
            </div>
          </div>
          <div class="tr">
            <!-- <div class="tr-sale"></div> -->
            <div class="tr-name">Group of 10 tickets</div>
            <div class="tr-origin">
              480
              <div class="currency">
              NTD
              </div>
            </div>
            <div class="tr-pirce">
              300
              <div class="currency">
              NTD
              </div>
            </div>
          </div>
          <div class="tr" style="border-bottom: none;">
            <!-- <div class="tr-sale"></div> -->
            <div class="tr-name"></div>
            <div class="tr-origin">
            </div>
            <div class="tr-pirce" style="padding: 10px 0px;">
            </div>
          </div>
    		</div>
        <!--mobile table-->
        <div class="visible-xs" style="padding-top:20px;">
          <table class="table register-table--mobile">
            <tr>
              <td class="headcell" style="vertical-align: bottom; font-weight: bold;"><strong>Student Ticket</strong></td>
              <td align="right" class="headcell text-center" style="min-width: 76px; vertical-align: bottom;"><strong>Price</strong></td>
              <td align="right" class="headcell text-center blue-price-td" style="min-width: 76px;">
                <div class="discount-label visible">37% off</div>
                <strong>Early Bird</strong>
              </td>
            </tr>
            <tr>
              <td class="bodycell" style="vertical-align: bottom; padding-bottom: 10px;"><strong>Single ticket</strong></td>
              <td align="right" class="bodycell mobile-price text-center">
                800 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price text-center blue-price-td">
                500 <small>NTD</small>
              </td>
            </tr>
            <tr>
              <td class="bodycell" style="vertical-align: bottom; padding-bottom: 10px;"><strong>A Pair of tickets</strong></td>
              <td align="right" class="bodycell mobile-price text-center">
                720 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price text-center blue-price-td">
                450 <small>NTD</small>
              </td>
            </tr>
            <tr>
              <td class="bodycell" style="vertical-align: bottom; padding-bottom: 10px;"><strong>Group of 10 tickets</strong></td>
              <td align="right" class="bodycell mobile-price text-center">
                480 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price text-center blue-price-td">
                300 <small>NTD</small>
              </td>
            </tr>
            <tr>
              <td></td>
              <td align="right" class="mobile-price text-center">
              </td>
              <td align="right" class="mobile-price text-center blue-price-td">
              </td>
            </tr>
          </table>
          <!-- <div class="col-sm-12" align="center">
            <div class="register_mobile_btn visible-xs">
              <a href="https://hspectrum.kktix.cc/events/trans2018" target="_blank">REGISTER NOW →</a>
            </div>
          </div> -->
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="register-table hidden-xs">
          <div class="tr th">
            <!-- <div class="tr-sale">Ticket</div> -->
            <div class="tr-name" style="font-weight: bold;">
              <div class="discount-label">0% off</div>
              Adult Ticket
            </div>
            <div class="tr-origin">
              <div class="discount-label">0% off</div>
              Price
            </div>
            <div class="tr-price">
              <div class="discount-label visible">28% off</div>
              Early Bird
            </div>
          </div>
          <div class="tr">
            <!-- <div class="tr-sale">Student ticket</div> -->
            <div class="tr-name">Single Ticket</div>
            <div class="tr-origin">
              1800
              <div class="currency">
              NTD
              </div>
            </div>
            <div class="tr-pirce">
              1296
              <div class="currency">
              NTD
              </div>
            </div>
          </div>
          <div class="tr">
            <!-- <div class="tr-sale"></div> -->
            <div class="tr-name">A pair of tickets</div>
            <div class="tr-origin">
              1620
              <div class="currency">
              NTD
              </div>
            </div>
            <div class="tr-pirce">
              1166
              <div class="currency">
              NTD
              </div>
            </div>
          </div>
          <div class="tr">
            <!-- <div class="tr-sale"></div> -->
            <div class="tr-name">Group of 10 tickets</div>
            <div class="tr-origin">
              1296
              <div class="currency">
              NTD
              </div>
            </div>
            <div class="tr-pirce">
              933
              <div class="currency">
              NTD
              </div>
            </div>
          </div>
          <div class="tr" style="border-bottom: none;">
            <!-- <div class="tr-sale"></div> -->
            <div class="tr-name"></div>
            <div class="tr-origin">
            </div>
            <div class="tr-pirce" style="padding: 10px 0px;">
            </div>
          </div>
        </div>
        <!--mobile table-->
        <div class="visible-xs" style="padding-top:20px;">
          <table class="table register-table--mobile">
            <tr>
              <td class="headcell" style="vertical-align: bottom; font-weight: bold;"><strong>Adult Ticket</strong></td>
              <td align="right" class="headcell text-center" style="min-width: 76px; vertical-align: bottom;"><strong>Price</strong></td>
              <td align="right" class="headcell text-center blue-price-td" style="min-width: 76px;">
                <div class="discount-label visible">28% off</div>
                <strong>Early Bird</strong>
              </td>
            </tr>
            <tr>
              <td class="bodycell" style="vertical-align: bottom; padding-bottom: 10px;"><strong>Single ticket</strong></td>
              <td align="right" class="bodycell mobile-price text-center">
                1800 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price text-center blue-price-td">
                1296 <small>NTD</small>
              </td>
            </tr>
            <tr>
              <td class="bodycell" style="vertical-align: bottom; padding-bottom: 10px;"><strong>A Pair of tickets</strong></td>
              <td align="right" class="bodycell mobile-price text-center">
                1620 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price text-center blue-price-td">
                1166 <small>NTD</small>
              </td>
            </tr>
            <tr>
              <td class="bodycell" style="vertical-align: bottom; padding-bottom: 10px;"><strong>Group of 10 tickets</strong></td>
              <td align="right" class="bodycell mobile-price text-center">
                1296 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price text-center blue-price-td">
                933 <small>NTD</small>
              </td>
            </tr>
            <tr>
              <td></td>
              <td align="right" class="mobile-price text-center">
              </td>
              <td align="right" class="mobile-price text-center blue-price-td">
              </td>
            </tr>
          </table>
          <div class="col-sm-12" align="center">
            <div class="register_mobile_btn visible-xs">
              <a href="https://hspectrum.kktix.cc/events/trans2018" target="_blank">REGISTER NOW →</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="register_title hidden-xs text-center">
          Professional Ticket Info.
        </div>
        <div class="visible-xs" align="center">
          <h3 style="font-size:21px;font-weight:500;padding-top:120px;">Professional Ticket Info.</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="register-table hidden-xs">
        	<div class="tr th">
            <!-- <div class="tr-sale">Ticket</div> -->
            <div class="tr-name" style="font-weight: bold;">
              <div class="discount-label">0% off</div>
              Ticket
            </div>
            <div class="tr-price">
              <div class="discount-label visible">50% off</div>
              Price
            </div>
          </div>
    			<div class="tr" style="border-bottom: none;">
    				<!-- <div class="tr-sale"></div> -->
    				<div class="tr-name">General ticket</div>
    				<div class="tr-pirce">
    					900
    					<div class="currency">
    					NTD
    					</div>
    				</div>
    				<div class="tr-origin">
    					<!-- 500
    					<div class="currency">
    					NTD
    					</div> -->
    				</div>
    			</div>
    		</div>

        <!--mobile table-->
        <div class="visible-xs" style="padding-top:20px;">
          <table class="table register-table--mobile">
            <tr>
              <td class="headcell" style="vertical-align: bottom; font-weight: bold;"><strong>Ticket</strong></td>
              <td align="right" class="headcell text-center blue-price-td" style="min-width: 76px; vertical-align: bottom;">
                <div class="discount-label visible">50% off</div>
                <strong>Price</strong>
              </td>
              <td align="right" class="headcell text-center" style="min-width: 76px;"></td>
            </tr>
            <tr>
              <td class="bodycell" style="vertical-align: bottom; padding-bottom: 10px; border-bottom: 0px;"><strong>General ticket</strong></td>
              <td align="right" class="bodycell mobile-price text-center blue-price-td" style="border-bottom: 0px;">
                900 <small>NTD</small>
              </td>
              <td align="right" class="bodycell mobile-price text-center" style="border-bottom: 0px;">
              </td>
            </tr>
            <tr>
              <td></td>
              <td align="right" class="mobile-price text-center">
              </td>
              <td align="right" class="mobile-price text-center">
              </td>
            </tr>
          </table>
          <div class="col-sm-12" align="center">
            <div class="register_mobile_btn visible-xs">
              <a href="https://hspectrum.kktix.cc/events/trans2018" target="_blank">REGISTER NOW →</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
    		<div class="register2_btn hidden-xs">
    			<a href="https://hspectrum.kktix.cc/events/trans2018" target="_blank">REGISTER NOW →</a>
    		</div>
      </div>
    </div>
	</div>
</div>
<div style="width: 100%; float: left;">
  <%= render "common/footer" %>
</div>