<div class="wrapper_big speakers">
  <br><br><br><br><br><br><br><br><br>
  <div class="main_title"><b>Speakers</b></div>
  <!-- <h2 class="flex-ac-jfs-" style="font-family: $p300;">
    <br><br><br>
    <img src="/assets/img/speaker/icon.svg" alt="" style="width: 15px; margin-right: 20px;">
    <b>If you want to see more, please click these pictures.</b>
  </h2> -->
  <div class="speakers-container">
    <div class="box" data-pop="1">
      <img src="/assets/img/speaker/Jane SC Tsai .jpg" alt="">
      <div class="text">
        <h3>Jane SC Tsai </h3>
        <p>Senior Vice President at YFY Biotech Management Company</p>
      </div>
    </div>
    <div class="box" data-pop="2">
      <img src="/assets/img/speaker/Steve Mo.jpg" alt="">
      <div class="text">
        <h3>Steven Mo</h3>
        <p>Dr. Steven Mo, PhD<br>
        VP, Operations and Market Strategy, Optum<br> UnitedHealth Group</p>
      </div>
    </div>
    <div class="box" data-pop="3">
      <img src="/assets/img/speaker/Keiichi Ohwari.jpg" alt="">
      <div class="text">
        <h3>Keiichi Ohwari</h3>
        <p>CEO at KPMG Healthcare Japan Co.,Ltd</p>
      </div>
    </div>
    <div class="box" data-pop="4">
      <img src="/assets/img/speaker/Katherine Jin.jpg" alt="">
      <div class="text">
        <h3>Katherine Jin</h3>
        <p>COO and Co-Founder of Kinnos</p>
      </div>
    </div>
    <div class="box" data-pop="5">
      <img src="/assets/img/speaker/Andrew Lee.jpg" alt="">
      <div class="text">
        <h3>Andrew Lee</h3>
        <p>MD/PhD, Founder of StartX Med<br>
        CEO at Nanomaterial Innovation</p>
      </div>
    </div> 
    <div class="box" data-pop="6">
      <img src="/assets/img/speaker/Yutaka Kitahara.png" alt="">
      <div class="text">
        <h3>Yutaka Kitahara</h3>
        <p>Director of KPMG Healthcare Japan Co., Ltd.</p>
      </div>
    </div> 
    <div class="box" data-pop="7">
      <img src="/assets/img/speaker/Allison Baum.jpg" alt="">
      <div class="text">
        <h3>Allison Baum</h3>
        <p>Co-Founder and Managing Partner at Fresco Capital</p>
      </div>
    </div>
    <div class="box" data-pop="8">
      <img src="/assets/img/speaker/Chris Edell.jpg" alt="">
      <div class="text">
        <h3>Chris Edell</h3>
        <p> CEO and Co-Founder of Elevar</p>
      </div>
    </div>
    <div class="box" data-pop="9">
      <img src="/assets/img/speaker/Chun Ji woong.jpg" alt="">
      <div class="text">
        <h3>Chun Ji Woong</h3>
        <p>Team Manager at KTB Network</p>
      </div>
    </div>
    
    <div class="box" data-pop="11">
      <img src="/assets/img/speaker/黃欣宜.png" alt="">
      <div class="text">
        <h3>Frances Huang</h3>
        <p>Founder of Warmie Health</p>
      </div>
    </div>
    <div class="box" data-pop="12">
      <img src="/assets/img/speaker/陳亮恭.png" alt="">
      <div class="text">
        <h3>Liang-Kung Chen</h3>
        <p>Director of Center for Geriatrics and Gerontology, Taipei Veterans General Hospital</p>
      </div>
    </div>
    <div class="box" data-pop="13">
      <img src="/assets/img/speaker/Lihan Zhou.jpg" alt="">
      <div class="text">
        <h3>Lihan Zhou</h3>
        <p>CTO and Co-Founder of MiRXES Pte Ltd </p>
      </div>
    </div>
    
    <div class="box" data-pop="14">
      <img src="/assets/img/speaker/Ching-Tse Tseng.jpg" alt="">
      <div class="text">
        <h3>Ching-Tse Tseng</h3>
        <p>Founder of Vault Dragon</p>
      </div>
    </div>
     <div class="box" data-pop="15">
      <img src="/assets/img/speaker/Ruchit_Nagar_Professional_Pic.png" alt="">
      <div class="text">
        <h3>Ruchit Nagar</h3>
        <p>CEO and Co-Founder of Khushi Baby</p>
      </div>
    </div>
    <div class="box" data-pop="16">
      <img src="/assets/img/speaker/Isaac Ho.jpg" alt="">
      <div class="text">
        <h3>Isaac Ho</h3>
        <p>CEO and Founder of Venturecraft Group</p>
      </div>
    </div>

    <div class="box" data-pop="17">
      <img src="/assets/img/speaker/Ong Jeong Shing.jpg" alt="">
      <div class="text">
        <h3>Ong Jeong Shing</h3>
        <p>Investment Director of Venturecraft Group</p>
      </div>
    </div>

    <div class="box" data-pop="18">
      <img src="/assets/img/speaker/Taiki Ishikura.jpg" alt="">
      <div class="text">
        <h3>Taiki Ishikura</h3>
        <p>CBO at JOMDD, Inc.</p>
      </div>
    </div>
    <div class="box" data-pop="19">
      <img src="/assets/img/speaker/Oscar Dong.png" alt="">
      <div class="text">
        <h3>Oscar Dong</h3>
        <p>Managing Director at IDG Capital</p>
      </div>
    </div>
    <div class="box" data-pop="20">
      <img src="/assets/img/speaker/Sidney Yee.png" alt="">
      <div class="text">
        <h3>Sidney Yee</h3>
        <p>CEO Diagnostics Development Hub<br>
        Executive Vice President Incubation & Startup Management<br>
        ETPL, A*STAR</p>
      </div>
    </div>
    <div class="box" data-pop="21">
      <img src="/assets/img/speaker/Daniel Penn.jpg" alt="">
      <div class="text">
        <h3>Daniel Penn</h3>
        <p>CEO and Co-Founder of Tickit</p>
      </div>
    </div>
    <div class="box" data-pop="22">
      <img src="/assets/img/speaker/Alex.png" alt="">
      <div class="text">
        <h3>Alex de Winter</h3>
        <p>Managing Director at GE Ventures</p>
      </div>
    </div>
    <div class="box" data-pop="23">
      <img src="/assets/img/speaker/AlbertChan_20050615-Smaller.png" alt="">
      <div class="text">
        <h3>Albert Chan</h3>
        <p>MD, MS, FAAFP, Vice President and Chief of Digital Patient Experience at Sutter Health</p>
      </div>
    </div>
    <div class="box" data-pop="24">
      <img src="/assets/img/speaker/deepikawork1.jpg" alt="">
      <div class="text">
        <h3>Deepika Bodapati</h3>
        <p>Co-Founder of Athelas</p>
      </div>
    </div>
    <div class="box" data-pop="25">
      <img src="/assets/img/speaker/James Huang.jpg" alt="">
      <div class="text">
        <h3>James Huang</h3>
        <p>Managing Partner at Kleiner Perkins Caufield & Byers China</p>
      </div>
    </div>
    <div class="box" data-pop="26">
      <img src="/assets/img/speaker/tanayprofpic.jpg" alt="">
      <div class="text">
        <h3>Tanay Tandon </h3>
        <p>Co-Founder of Athelas</p>
      </div>
    </div>
    <div class="box" data-pop="27">
      <img src="/assets/img/speaker/Yang profile pic.jpg" alt="">
      <div class="text">
        <h3>Yang Yang </h3>
        <p>Regional Head, Greater China<br>Verily Life Sciences LLC, an Alphabet company</p>
      </div>
    </div>
    <div class="box" data-pop="28">
      <img src="/assets/img/speaker/Zane_Moi_1_02-15.jpg" alt="">
      <div class="text">
        <h3>Zane Moi</h3>
        <p>Amazon Web Services, Head of Business Development, Hong Kong, Macau & Taiwan</p>
      </div>
    </div>
     <div class="box" data-pop="29">
      <img src="/assets/img/speaker/Morteza Ahmadi.jpg" alt="">
      <div class="text">
        <h3>Morteza Ahmadi</h3>
        <p>Founder of Qidni Labs</p>
      </div>
    </div>
    <div class="box" data-pop="30">
      <img src="/assets/img/speaker/吳懷玨.jpg" alt="">
      <div class="text">
        <h3>Gem Wu</h3>
        <p>Chief Editor for PubMed TAIWAN</p>
      </div>
    </div>
    <div class="box" data-pop="31">
      <img src="/assets/img/speaker/黃豆泥.jpg" alt="">
      <div class="text">
        <h3>Yen-Lin Huang</h3>
        <p>Curator of Pathology Expo</p>
      </div>
    </div>
    <div class="box" data-pop="32">
      <img src="/assets/img/speaker/esther wang.jpg" alt="">
      <div class="text">
        <h3>Esther Wang </h3>
        <p>Founder of Joytingle</p>
      </div>
    </div>



  </div>
</div>
<div id="pop-up">
  <div class="close"></div>

  <!-- 下面這個 -->
  <div class="pop-content" data-pop-show="1">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Jane SC Tsai .jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Jane SC Tsai .jpg');"></div>
        <div class="text-title">
          <h2>Jane SC Tsai</h2>
          <h3>Senior Vice President at YFY Biotech Management Company</h3>
        </div>
      </div>
      <p>
       Dr. Jane SC Tsai is currently a senior vice president of YFY Biotech Management Company and also a senior advisor and former deputy general director and COO at Biomedical Technology and Device Research Laboratories of Industrial Technology Research Institute. During her 16-year tenure as director and research leader at Roche, she led multiple interdisciplinary teams to achieve concept-to-commerce innovations, global launches and total product life cycle management.
      </p>
    </div>
  </div>
   <!-- 上面這個 -->
  <div class="pop-content" data-pop-show="2">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Steve Mo.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Steve Mo.jpg');"></div>
        <div class="text-title">
          <h2>Steven Mo</h2>
          <h3>
          Dr. Steven Mo, PhD<br>
          VP, Operations and Market Strategy, Optum
          <br>UnitedHealth Group</h3>
        </div>
      </div>
      <p>
       Dr. Steven Mo, PhD is the vice president of operations and market strategy at Optum/UnitedHealth Group. He has advised senior executives at Fortune 500 healthcare and technology companies on innovation, R&D, operating models, and go-to-market strategies. Prior to joining Optum, Dr. Mo was a management consultant at the Boston Consulting Group, a co-founder of a medical wearable start-up, and an innovator at Harvard Medical School. Dr. Mo received his B.S. in Biology from MIT and his Ph.D. in Biomedical Engineering from Oxford University as a Rhodes Scholar.

      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="3">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Keiichi Ohwari.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Keiichi Ohwari.jpg');"></div>
        <div class="text-title">
          <h2>Keiichi Ohwari</h2>
          <h3>CEO at KPMG Healthcare Japan Co.,Ltd</h3>
        </div>
      </div>
      <p>
      Mr. Ohwari joined KPMG Tokyo in 1987 as a CPA. After 4 years of experience in Tokyo, he transferred to Germany office for 5 years to assist Japanese companies in investing and operating in Europe. After he returned, he worked on strategy development engagements as well as international M&As for clients of various sectors. Since 2000, Mr. Ohwari has been leading KPMG Japan's healthcare practice, assisting clients including leading medical service providers, aged care,  pharmaceuticals and medical device companies.     
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="4">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Katherine Jin.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Katherine Jin.jpg');"></div>
        <div class="text-title">
          <h2>Katherine Jin</h2>
          <h3>COO and Co-Founder of Kinnos</h3>
        </div>
      </div>
      <p>
      Katherine Jin is the COO and co-founder of Kinnos, a New York-based company that’s raising the standard of infectious disease decontamination to protect healthcare workers, patients, and the general public. Kinnos has additionally been recognized as winners of the Lemelson-MIT Student Prize, Collegiate Inventors Competition, and Columbia Venture Competition. For her work in health and entrepreneurship, Katherine was a 2016 inductee of Forbes 30 Under 30 in Healthcare.
      </p>
    </div>
  </div>
   <div class="pop-content" data-pop-show="5">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Andrew Lee.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Andrew Lee.jpg');"></div>
        <div class="text-title">
          <h2>Andrew Lee</h2>
          <h3>MD/PhD, Founder of StartX Med<br>
          CEO at Nanomaterial Innovation</h3>
        </div>
      </div>
      <p>
      Andrew Lee is the Co-Founder/CEO of Nanomaterials Innovation, a liquid biopsy biotechnology company that is being for cancer diagnostics across Mainland China and Taiwan. He is also the founder of StartX Med, the Medical Innovation Accelerator of Stanford University and Stanford Hospital. His research on the use of patient-specific stem cells for personalized medicine and cancer detection has been supported by the Howard Hughes Medical Institute, the FDA, and the American Heart Association .
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="6">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Yutaka Kitahara.png');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Yutaka Kitahara.png');"></div>
        <div class="text-title">
          <h2>Yutaka Kitahara</h2>
          <h3>Director of KPMG Healthcare Japan Co., Ltd.</h3>
        </div>
      </div>
      <p>
      Yutaka Kitahara has 10 years of experience in healthcare and life science sector since he joined KPMG Healthcare Japan. He has worked with a wide range of clients, including hospitals, pharmaceutical companies, medical device companies, financial investors, and companies with an intention to enter the healthcare market. Yutaka Kitahara has successfully led many projects involving strategy and business development, expansion of overseas business, and M&A. Before joining KPMG, Yutaka Kitahara worked for a major pharmaceutical company.

      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="7">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Allison Baum.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Allison Baum.jpg');"></div>
        <div class="text-title">
          <h2>Allison Baum</h2>
          <h3>Co-Founder and Managing Partner at Fresco Capital</h3>
        </div>
      </div>
      <p>
      Allison Baum is a co-founder and managing partner at Fresco Capital, a global, early stage venture capital fund investing in technology companies transforming education, healthcare, and the future of work.  Prior to Fresco, Allison was an early member of the team at General Assembly where she developed and launched the company’s first part-time and full-time programs in the U.S. and then in Asia. She is a member of the World Economic Forum’s Global Shaper’s community, and was named to the 2016 Forbes 30 Top Emerging VC Managers in the region.
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="8">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Chris Edell.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Chris Edell.jpg');"></div>
        <div class="text-title">
          <h2>Chris Edell</h2>
          <h3>CEO and Co-Founder of Elevar</h3>
        </div>
      </div>
      <p>
        Chris is the CEO and co-founder of Elevar, a firm that connects large healthcare organizations with emerging digital health startups. Elevar currently pairs large companies with innovative startups around mutual problems of interest. Elevar's clients include many of the US' largest health insurers, health systems and healthcare technology companies. Prior to founding Elevar, Chris was a strategy consultant at Booz & Company (now Strategy&) and Deloitte Consulting.    
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="9">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Chun Ji woong.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Chun Ji woong.jpg');"></div>
        <div class="text-title">
          <h2>Chun Ji Woong</h2>
          <h3>Team Manager at KTB Network</h3>
        </div>
      </div>
      <p>
     Ji Woong has received the Most Outstanding Venture Investment Performance Award of KTB Network in 2016. He is also on the board of directors of several biotech companies in Korea, China, and the UK. Prior to KTB Network, he was the manager of several global clinical trials in Daiichi Sankyo and a research scientist in CKD Pharmaceuticals. Ji Woong is a registered pharmacist in Korea and has a master degree from Seoul National University, College of Pharmacy. 
      </p>
    </div>
  </div>
   
  <div class="pop-content" data-pop-show="11">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/黃欣宜.png');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/黃欣宜.png');"></div>
        <div class="text-title">
          <h2>Frances Huang</h2>
          <h3>Founder of Warmie Health</h3>
        </div>
      </div>
      <p>
       Huang, founder of Warmie Health, is an entrepreneur and an amateur musician. During her time in the Department of Health Care Administration, TMU, Huang found her passion in innovation and entrepreneurship through multiple club activities and startup competitions. Her belief is that by starting up businesses, values are created, and the world can thus be changed.
      </p>
    </div>
  </div>
   <div class="pop-content" data-pop-show="12">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/陳亮恭.png');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/陳亮恭.png');"></div>
        <div class="text-title">
          <h2>Liang-Kung Chen</h2>
          <h3>Director of Center for Geriatrics and Gerontology, Taipei Veterans General Hospital</h3>
        </div>
      </div>
      <p>
     Dr. Chen graduated from Department of Medicine, National Yang-Ming University, and earned his doctor’s degree from the Institute of Health and Welfare Policy, also in National Yang-Ming University. Now, he is the chief of Taipei Veterans General Hospital Center for Geriatrics and Gerontology and the chief of National Yang-Ming University Aging and Health Research Center at the same time. Chen is the editor of several international journals focusing on geriatrics and gerontology, and has over 200 publications surrounding the topic.
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="13">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Lihan Zhou.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Lihan Zhou.jpg');"></div>
        <div class="text-title">
          <h2>Lihan Zhou</h2>
          <h3>CTO and Co-Founder of MiRXES Pte Ltd</h3>
        </div>
      </div>
      <p>
       Lihan was trained as a molecular neurobiologist but worked on a spectrum of technology development projects on qPCR, gene delivery, tumor targeting nanoparticles and nanostructure enhanced clinical analyte detection. Lihan co-founded and serves as the CTO of MiRXES, a biotech startup focused on developing microRNA technologies and diagnostic applications. Last year, Lihan was recognized by the MIT Technology Review as a member of the Innovators Under 35 (Asia) and MiRXES was awarded the Most Promising Startup 2016 by the Emerging Enterprise Award.
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="14">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Ching-Tse Tseng.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Ching-Tse Tseng.jpg');"></div>
        <div class="text-title">
          <h2> Ching-Tse Tseng</h2>
          <h3>Founder of Vault Dragon</h3>
        </div>
      </div>
      <p>
      Ching drives business development, strategy and investor relations at Vault Dragon. He is an ex-PwC business consultant specializing in process management. He also worked as an investment advisor at Philip Securities, where he was awarded the "Top Rookie" title in 2008 for his sales performance. Ching holds a postgraduate diploma in Regulatory Compliance with International Compliance Association.
      </p>
    </div>
  </div>
  
  <div class="pop-content" data-pop-show="15">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Ruchit_Nagar_Professional_Pic.png');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Ruchit_Nagar_Professional_Pic.png');"></div>
        <div class="text-title">
          <h2>Ruchit Nagar</h2>
          <h3>CEO and Co-Founder of Khushi Baby</h3>
        </div>
      </div>
      <p>
      Ruchit Nagar is the co-founder and CEO at Khushi Baby, which is a global health non-profit organization that seeks to transform maternal and child healthcare follow-up at the last mile using wearables and mHealth technology. Previously, Ruchit worked on creating soft tissue cell-culture environments for bioengineered lungs, discovering dengue vaccine candidates in mosquito spit, and identifying hotspots of flu from natural-language-processed Tweets in New York City. Ruchit was recently recognized by Forbes 2016's 30 under 30 in Healthcare and Life Sciences.
      </p>
    </div>
  </div>

  <div class="pop-content" data-pop-show="16">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Isaac Ho.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Isaac Ho.jpg');"></div>
        <div class="text-title">
          <h2>Isaac Ho</h2>
          <h3>CEO and Founder of Venturecraft Group</h3>
        </div>
      </div>
      <p>
      Mr. Ho is the founder, CEO, and principal partner of Venturecraft Group. He is a serial entrepreneur focusing on investing in MedTech and the application of information and communications technology. He is also an advisor of several startups and an expert speaker on enterprise links between Singapore and China. In addition, Mr. Ho is a director of Singapore Diamond Investment Exchange (SDiX) Pte Ltd, the world’s first commodity exchange in physically settled diamonds.
      </p>
    </div>
  </div>

  <div class="pop-content" data-pop-show="17">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Ong Jeong Shing.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Ong Jeong Shing.jpg');"></div>
        <div class="text-title">
          <h2>Ong Jeong Shing</h2>
          <h3>Investment Director of Venturecraft Group</h3>
        </div>
      </div>
      <p>
     Mr. Ong is a key member of Venturecraft Group’s investment team and oversees the group’s investments in MedTech and BioTech industries. He is also an entrepreneur involved in venture building. He has over a decade of management experience in biomedical sciences industry, ranging from technology transfers to commercialization of medical technologies to venture financing of startups. Mr. Ong formerly served as principal manager at Exploit Technologies Pte Ltd (ETPL), the technology commercialization arm of A*STAR.  
      </p>
    </div>
  </div>

  <div class="pop-content" data-pop-show="18">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Taiki Ishikura.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Taiki Ishikura.jpg');"></div>
        <div class="text-title">
          <h2>Taiki Ishikura</h2>
          <h3>CBO at JOMDD, Inc.</h3>
        </div>
      </div>
      <p>
     Taiki Ishikura serves as board director and chief business officer at JOMDD, Inc. Mr. Ishikura also serves as board director and leads cancer genomics business at P5, Inc.. Prior to JOMDD, Mr. Ishikura worked at M3, Inc., which ranked #5 of Forbes' 2017 Most Innovative Growth Companies, in a variety of positions spanning new business development and post-merger integration. Prior to M3, Mr. Ishikura was a co-founder of Aqumen Biopharmaceuticals K.K., an ophthalmology biotech startup. While he studied at Stanford MBA, he served a member of the Stanford Medicine X Innovation Sourcing Team. 
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="19">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Oscar Dong.png');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Oscar Dong.png');"></div>
        <div class="text-title">
          <h2>Oscar Dong </h2>
          <h3>Managing Director at IDG Capital</h3>
        </div>
      </div>
      <p>
   Oscar Dong is the managing director of IDG Capital. He has led investments and managed several projects while serving as board director for a number of companies. He has been honored as Forbes' Ranking No.1 Gold Award for China Best Financial Planner. With more than ten years’ experiences in equity investment and wealth management, Oscar specializes in travel, culture, media, and entertainment industries. 
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="20">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Sidney Yee.png');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Sidney Yee.png');"></div>
        <div class="text-title">
          <h2>Sidney Yee</h2>
          <h3>CEO Diagnostics Development Hub<br>
          Executive Vice President Incubation & Startup Management<br>
          ETPL, A*STAR</h3>
        </div>
      </div>
      <p>
    Sidney is CEO of Diagnostics Development (DxD) Hub and EVP of Incubation and Startup Management (ISM) division at ETPL. Her team in DxD Hub focuses on accelerating productization of innovative diagnostic technologies. Sidney leads ISM to strategize and support startup activities related to technologies and innovations, including setting up A*StartCentral. Sidney was a researcher with A*STAR’s Institute of Molecular and Cell Biology, and a research scholar at The Scripps Research Institute.
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="21">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Daniel Penn.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Daniel Penn.jpg');"></div>
        <div class="text-title">
          <h2>Daniel Penn</h2>
          <h3>CEO and Co-Founder of Tickit</h3>
        </div>
      </div>
      <p>
   Daniel Penn is the CEO and co-founder of Tickit, an award winning company that helps healthcare organizations improve outcomes through patient reported data. He was named to Forbes 30 under 30 list for healthcare and has twice been a TEDMED Scholar. He has presented on the topic “Innovation in Healthcare” at conferences like, MedicineX (Stanford), Health 2.0 and Queen's Innovation Summit. 
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="22">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Alex.png');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Alex.png');"></div>
        <div class="text-title">
          <h2>Alex de Winter</h2>
          <h3>Managing Director at GE Ventures</h3>
        </div>
      </div>
      <p>
    Alex de Winter is a managing director at GE Ventures, where he has led investments in Labcyte, RainDance Technologies, Syapse, and Veracyte. Alex joined GE Ventures from Mohr Davidow Ventures, where he served as a board director with On-Q-ity and board observer for CardioDx, Corventis, Crescendo Bioscience, DVS Sciences, and Personalis. He started his career as a research scientist with 454 Life Sciences and Pacific Biosciences.
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="23">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/AlbertChan_20050615-Smaller.png');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/AlbertChan_20050615-Smaller.png');"></div>
        <div class="text-title">
          <h2>Albert Chan</h2>
          <h3>MD, MS, FAAFP, Vice President and Chief of Digital Patient Experience at Sutter Health</h3>
        </div>
      </div>
      <p>
    Albert Chan has blended his passion for medicine and technology at Sutter Health. Dr. Chan uses his background in biomedical informatics to help launch one of the nation’s first integrated online personal health record systems. In recognition of his efforts, Dr. Chan received the 2014 Epic PACAcademy Award (“Physician of the Year”). In 2017, Dr. Chan was awarded an Eisenhower Fellowship and was named to the Fulbright Specialist Roster.

      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="24">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/deepikawork1.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/deepikawork1.jpg');"></div>
        <div class="text-title">
          <h2>Deepika Bodapati</h2>
          <h3>Co-Founder of Athelas</h3>
        </div>
      </div>
      <p>
        Deepika Bodapati is the co-founder of Athelas. She has conducted research in early detection and therapies for cancer at the Stanford Multimodality Molecular Imaging Lab. During her time there, she has published over 4 scientific papers in high impact journals prior to founding Athelas.
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="25">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/James Huang.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/James Huang.jpg');"></div>
        <div class="text-title">
          <h2>James Huang</h2>
          <h3>Managing Partner at Kleiner Perkins Caufield & Byers China</h3>
        </div>
      </div>
      <p>
        James Huang joined Kleiner Perkins Caufield & Byers China as a managing partner in 2011 and focuses on the firm’s life sciences practice. His main investment interests are innovation around China’s growing healthcare markets and helping entrepreneurs build companies. James has made more than 15 investments in China since 2007.
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="26">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/tanayprofpic.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/tanayprofpic.jpg');"></div>
        <div class="text-title">
          <h2>Tanay Tandon </h2>
          <h3>Co-Founder of Athelas</h3>
        </div>
      </div>
      <p>
        Tanay Tandon is the co-founder of Athelas. He has conducted deep learning and computer vision research at the Stanford AI Lab and has worked at companies like wit.ai and MetaMind prior to founding Athelas.
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="27">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Yang profile pic.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Yang profile pic.jpg');"></div>
        <div class="text-title">
          <h2>Yang Yang </h2>
          <h3>Regional Head, Greater China<br>Verily Life Sciences LLC, an Alphabet company</h3>
        </div>
      </div>
      <p>
        Yang Yang is currently leading Verily’s strategy and corporate development efforts in the Greater China area. Yang has led Verily’s several large partnership transactions as a commercial legal counsel. Prior to joining Verily, Yang was a technology transaction attorney at Wilson Sonsini Goodrich and Rosati, a large law firm headquartered in Silicon Valley.
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="28">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Zane_Moi_1_02-15.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Zane_Moi_1_02-15.jpg');"></div>
        <div class="text-title">
          <h2>Zane Moi</h2>
          <h3>Amazon Web Services, Head of Business Development, Hong Kong, Macau & Taiwan</h3>
        </div>
      </div>
      <p>
       Zane leads AWS' business development organization in Hong Kong, Macau and Taiwan, where he has responsibilities around overall market performance, strategy, customer engagement and general business development. Prior to AWS, Zane founded a big data analytics and visualization startup called TreeCrunch that focused on the analytics and visualization of unstructured text data using NLP technologies.
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="29">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/Morteza Ahmadi.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/Morteza Ahmadi.jpg');"></div>
        <div class="text-title">
          <h2>Morteza Ahmadi</h2>
          <h3>Founder of Qidni Labs</h3>
        </div>
      </div>
      <p>
       Dr. Morteza Ahmadi is the founder and CEO of Qidni Labs, which is developing the next generation of renal replacement therapies for three million patients with End Stage Renal Disease.(ESRD). He has won numerous awards and fellowship placements from organizations such as The Kidney Foundation of Canada and Natural Sciences and Engineering Research Council of Canada.
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="30">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/吳懷玨.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/吳懷玨.jpg');"></div>
        <div class="text-title">
          <h2>Gem Wu</h2>
          <h3>Chief Editor for PubMed TAIWAN</h3>
        </div>
      </div>
      <p>
       Wu is a student of NCKU majoring in medicine, and former National Officer of Medical Education at FMSTW. Currently, she is a research assistant at the Institute of Public Health of NCKU, and the editor in chief for PubMed TAIWAN, publishing medical geography, healthcare systems, and global health issues. Notably, Wu became a Youth Delegate of Taiwan at the 70th World Health Assembly and participated in the conference in Switzerland.
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="31">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/黃豆泥.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/黃豆泥.jpg');"></div>
        <div class="text-title">
          <h2>Yen-Lin Huang</h2>
          <h3>Curator of Pathology Expo</h3>
        </div>
      </div>
      <p>
       Huang, a CMU medical student, is an experienced curator that has organized Pathology Expo and Complex Festival in the past. Pathology Expo is an exhibition mixed with pathological sections and social issues, and has won the hearts of many medical nerds and hipsters. Huang has continued to organize sensational expositions amongst colleges of medicine, museums, and libraries by using medical knowledge and his life experiences.
      </p>
    </div>
  </div>
  <div class="pop-content" data-pop-show="32">
    <div class="img img-bg-cover" style="background-image: url('/assets/img/speaker/esther wang.jpg');"></div>
    <div class="text">
      <div class="text-header">
        <div class="text-img img-bg-cover" style="background-image: url('/assets/img/speaker/esther wang.jpg');"></div>
        <div class="text-title">
          <h2>Esther wang</h2>
          <h3>Founder of Joytingle</h3>
        </div>
      </div>
      <p>
      Esther is an entrepreneur with designing talent. With an eye for details and turnkey product development knowledge, she founded Joytingle. A health-education company which delivers innovative products to niche specialists in 38 hospitals across 10 countries. She is also a TEDx Speaker and an artist with a love for ancient and contemporary Chinese art. Esther’s child-like curiosity and drive enable her to see the world differently.
      </p>
    </div>
  </div>


</div>
<script>
  $(document).on('click', '.box', function() {
    let t = $(this).data('pop')
    $('#pop-up').fadeIn(300);
    $('.pop-content').removeClass('active');
    $('.pop-content[data-pop-show="' + t + '"]').addClass('active');
  })

  $(document).on('click', '#pop-up .close', function() {
    $('#pop-up').fadeOut(300);
    $('.pop-content').removeClass('active');
  })
</script>