<%= link_to admin_people_path(anchor: "person-#{@person.id}"), class: "btn btn-link" do %>
  &#8592; <%= I18n.t('text.back') %>
<% end %>
<div class="row">
  <div class="col-lg-9">
  	<div class="row">
			<%= render @person %>
		</div>
	</div>
</div>